#wp-admin-bar-wp-logo .ab-item, #contextual-help-link-wrap,

#menu-dashboard .wp-submenu,
#screen-options-link-wrap,
#dashboard-widgets-wrap #side-sortables,
#dashboard-widgets-wrap #postbox-container-1,
#motopress-logo, .update-nag, #toplevel_page_motopress, #setting-error-accesspress-store,
.opensub .wp-menu-arrow, .updated, #informationdiv, #toplevel_page_FB-comments, #user-1,
#wpbody #welcome-panel, #wpfooter  {
	display: none !important;
	min-height: 300px;
}

.opensub .wp-submenu.wp-submenu-wrap {
	top: 0px !important;
    left: 200px !important;
    padding: 0 !important;
    z-index: 999 !important;
		background: #ddd !important;
}

#wpadminbar .ab-icon, #wpadminbar .ab-icon::before, #wpadminbar .ab-item::after, #wpadminbar .ab-item::before {
	background: #273649;
}

#adminmenu .wp-has-submenu ul.wp-submenu {
	background: #ddd;
}


#wpadminbar {
	background: #273649 none repeat scroll 0% 0%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 1px -1px 6px #999;
	-moz-box-shadow: 1px -1px 6px #999;
	-webkit-box-shadow: 1px -1px 6px #999;
	height: 50px;
	padding-top: 10px;
}

#adminmenu ul.wp-submenu li.wp-submenu-head {
	color: #999;
}


.wp-admin #wpwrap {
    margin-top: 32px;
}
#wpadminbar a,
#adminmenu a, #adminmenu .wp-submenu a, #adminmenuback a, #adminmenuwrap a {

}

#adminmenu .wp-submenu a {
    color: #000 !important;
    background: #ddd !important;
}

#wpwrap #adminmenu li.wp-has-current-submenu > ul.wp-submenu,
#wpwrap #adminmenu li.wp-has-current-submenu:hover > ul.wp-submenu {
	background: #ddd !important;
}

#adminmenuwrap, #adminmenu,
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  background: none !important;
  width: 220px !important;

}
#wpwrap #adminmenu li.wp-has-submenu:hover .wp-submenu {
    left: 220px !important;
		border-top: 1px solid #ddd;
}

#wpwrap #adminmenu li.wp-has-submenu.wp-has-current-submenu .wp-submenu {
    left: 0px !important;
}

#wpadminbar ul li.hover, #wpadminbar ul li a:hover {
	background:#273649 !important;
}


#adminmenuback {
    background: url('line-ver.png') repeat-y right 0 transparent !important;
}

#adminmenu .wp-submenu {

}

#adminmenu div.wp-menu-image::before {
	color: #888 !important;
}

#adminmenu .current {
  background: #fff;
}

#wpbody-content {
    padding-bottom: 65px;
    float: left;
    width: 100%;
    overflow: visible !important;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    padding-left:20px;
}

li#wp-admin-bar-view-site > a.ab-item {

}
 #adminmenu li a:hover {
	 background: #273649 none repeat scroll 0% 0% !important;
 }
 #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {

    background: #ddd;
}



#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li a:hover,
#adminmenu li:hover a,
#adminmenu li:hover,
#adminmenu li a:focus {
    background: #fff none repeat scroll 0% 0% !important;


}

#adminmenumain {
	width: 190px !important;
}
#wpcontent, #wpfooter {
    margin-left: 210px;
}

#wpbody, #wpcontent {
	background: #f1f1f1 !important;
	padding: 10px !important;
	margin-top: 30px;
}
#wpwrap {

    background: #f1f1f1;
}

#wpadminbar .ab-label {
    color: #333 !important;
}

#wpbody {
  margin-top: 0px !important;
  padding-left: 0px !important;
}
#collapse-menu:hover, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {

}
#wpadminbar .ab-icon, #wpadminbar .ab-icon::before, #wpadminbar .ab-item::after, #wpadminbar .ab-item::before {

}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    color: #333;
}
#adminmenu li.current a.menu-top {background: #fff; color:#333;}

li.menu-icon-dashboard {

	background: #fff !important;
}
#wpwrap #adminmenu {
    margin: 20px 0 !important;

}

#wpadminbar ul > li > a,
#wpadminbar ul > li > a > span.ab-icon,
#wpadminbar ul > li > a > span.ab-label {
  color: #fff !important;
}

#wpadminbar .ab-sub-wrapper ul > li > a {
  color: #333;
}

#wpadminbar .menupop.hover a,
#wpadminbar li.menupop.hover a.ab-item {
	background: #273649;
	color: #fff !important;
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    color: #fff !important;
    background: #273649 !important;
}

ul#adminmenu li a .wp-menu-name {
	color: #333 !important;
}

#wpwrap #wpadminbar .menupop .ab-sub-wrapper, #wpwrap #wpadminbar .shortlink-input {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    position: absolute;
    float: none;
    background: #273649 !important;

}




/*
#menu-plugins,#menu-settings,#menu-appearance, #ms-search {
	display: none !important;
}*/


/************** WPMU ***************/
#wp-admin-bar-my-sites > .ab-sub-wrapper,
#menu-appearance,
#menu-plugins
 { display: none !important; }
#wp-admin-bar-my-sites .ab-sub-wrapper .ab-sub-wrapper {
	left: 176px;
}
li.menu-icon-dashboard {
    background: none !important;
}
