/***** PML Admin Layout *************/

/*Danh sách dự án*/

/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');*/

body.wp-admin {
    background: #fff !important;
    font-family: Arial, sans-serif;
    font-size: 13px;

}

:cue {
    background-color: none !important;
}

.wp-admin #wpwrap #wpadminbar #wp-admin-bar-site-name .ab-item {
  background: url('../../images/logo-brainmark.png') no-repeat 15px 10px transparent !important;
    background-size: auto auto;
background-size: 68% !important;
text-indent: -9999px;
width: 214px;
padding: 0 !important;
border: none !important;
}

.wp-admin #wpwrap #wpadminbar li.hover, .wp-admin #wpwrap #wpadminbar li.hover a,
.wp-admin #wpwrap #wpadminbar li a,
.wp-admin #wpwrap #wpadminbar li,
.wp-admin #wpwrap #wpadminbar li a:hover,
.wp-admin #wpwrap #wpadminbar li.focus a {
  background: none !important;
  padding: 0 !important;
  border: none !important;
}
.wp-admin #wpwrap #wpadminbar li#wp-admin-bar-my-account {
  padding-top: 14px !important;
}
.wp-admin #wpwrap #wpadminbar li#wp-admin-bar-my-account > a {
  padding: 1px 20px 0 0 !important;
  height: 46px !important;
}


.folded #adminmenuwrap, .folded #adminmenu, .folded #adminmenu .wp-submenu,
.folded #adminmenuback, .folded #adminmenuwrap {
    background: #f1f1f1;
    width: 36px !important;
}

.folded #wpwrap #wpcontent, .folded #wpwrap #wpfooter {
    margin-left: 36px !important;
}

.folded #wpwrap #adminmenu li.wp-has-submenu.wp-has-current-submenu .wp-submenu {
  left: 36px !important;
}


.wp-admin #wpwrap #wpadminbar > li.opensub::after {
  color: #ddd !important;
}

input[type="text"], input[type="search"], input[type="radio"],
input[type="tel"], input[type="time"], input[type="url"],
input[type="week"], input[type="password"], input[type="checkbox"],
input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], select, textarea {
    border: 1px solid #fff;
  }
  .wp-core-ui .button, .wp-core-ui .button-secondary,
  .wp-core-ui .button-primary {
      color: #555;
      border-color: #fff !important;
      background: #fff !important;
      -webkit-box-shadow: 0 1px 0 #ccc !important;
      box-shadow: 0 1px 0 #ccc !important;
      vertical-align: top;
      border: none;
  }
  .wp-core-ui .button-primary {
      color: #fff;
      background: #0073aa !important;
      text-shadow: unset !important;
  }

  .nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
    border: none;
    background: #008fd5 !important;
    color: #fff !important;
    margin-top: 1px;
}
.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }

  input[type="text"], input[type="search"],
  input[type="radio"], input[type="tel"], input[type="time"],
  input[type="url"], input[type="week"], input[type="password"],
  input[type="checkbox"], input[type="color"], input[type="date"],
  input[type="datetime"], input[type="datetime-local"], input[type="email"],
  input[type="month"], input[type="number"], select, textarea {
    border: 0px solid #ddd !important;
    -webkit-box-shadow: inset 0 1px 2px #ccc !important;
    box-shadow: inset 0 1px 3px #ccc !important;
    -moz-box-shadow: inset 0 1px 2px #ccc !important;

  }

  .form-table tbody {
    background: #fff;
box-shadow: 0px 0px 10px -3px #ddd;
  }

  .wp-list-table th {
    text-transform: uppercase;
font-size: 13px;
  }

/* update by leluhien */
.form-table {
    border-collapse: collapse;
    margin-top: 0;
    width: 100%;
    clear: both;
    padding: 10px !important;
}
.form-table, .form-table td, .form-table td p, .form-table th {
  padding: 10px 15px;
}

.nav-tab-active {
  background:#fff;
}

.wp-admin .opensub .wp-submenu.wp-submenu-wrap {
	top: 0px !important;
    left: 200px !important;
    padding: 0 !important;
    z-index: 999 !important;
		background: #ddd !important;
}

#wpadminbar .ab-icon, #wpadminbar .ab-icon::before, #wpadminbar .ab-item::after, #wpadminbar .ab-item::before {

}
.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item::before {
  content: "";
  background: none;
}

#adminmenu .wp-has-submenu ul.wp-submenu {
	background: #ddd;
}

#wpadminbar {
	background: #fff none repeat scroll 0% 0%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 1px -1px 6px #999;
	-moz-box-shadow: 1px -1px 6px #999;
	-webkit-box-shadow: 1px -1px 6px #999;
	height: 50px;
	padding-top: 10px;
}

#adminmenu ul.wp-submenu li.wp-submenu-head {
	color: #999;
}


.wp-admin #wpwrap {
    margin-top: 32px;
}
#wpadminbar a,
#adminmenu a, #adminmenu .wp-submenu a, #adminmenuback a, #adminmenuwrap a {

}

.wp-admin #adminmenu .wp-submenu a {
color: #555 !important;
background: #f1f1f1 !important;
}

#adminmenu .wp-submenu a {
    color: #000 !important;
}

#adminmenu .wp-submenu a:hover, #adminmenu .wp-submenu a.current {
  color: #ddd !important;
}

.wp-has-current-submenu ul.wp-submenu li a::before {
content: "";
float: left;
left: 23px !important;
text-indent: 0px !important;
}

.wp-admin .postbox .inside, .wp-admin .stuffbox .inside {
    padding: 0px 0 10px !important;
}

.wp-admin #edit-slug-box, .wp-admin #comment-link-box {
    padding: 0 !important;
}

.wp-admin #wpwrap #adminmenu li.wp-has-current-submenu > ul.wp-submenu,
.wp-admin #wpwrap #adminmenu li.wp-has-current-submenu:hover > ul.wp-submenu {
background: #f1f1f1 !important;
}

#adminmenu li a:hover, #adminmenu li:hover,
#adminmenu li a:focus {
  color:#ddd;
}

#adminmenu li:before {
  background: none !important;
  color:#ddd;
}



.acf-field input[type="text"] {
width: 90% !important;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
height: 35px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
}

h2.ui-sortable-handle {
background: #f3f3f3;
font-size: 15px;
text-transform: uppercase;
}

#wpbody-content {
    background: #f1f1f1 !important;
}

.wp-admin .postbox-container {
	background: #f9f9f9;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
  margin-left: 10px !important;
padding: 9px 20px;
position: relative;
top: -3px;
text-decoration: none;
border: none;
border: 1px solid #fff;
-webkit-border-radius: 2px;
border-radius: 3px;
background: #0073aa;
text-shadow: none;
font-weight: 600;
font-size: 13px;
line-height: normal;
color: #fff;
cursor: pointer;
outline: 0;
}

.wp-admin #wpwrap #adminmenu li.current a, .wp-admin #adminmenu .current {
    background: none !important;
    color: #111 !important;
}

#wpwrap #adminmenu li.wp-has-current-submenu > ul.wp-submenu,
#wpwrap #adminmenu li.wp-has-current-submenu:hover > ul.wp-submenu {
	background: #ddd !important;
}

.utili-child-item {
    width: 16% !important;
}
.utili-child-item span {
color: #000;
font-weight: 300;
font-size: 14px;
}

#adminmenuwrap, #adminmenu,
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  background: #f1f1f1; !important;
  width: 220px !important;

}
#wpwrap #adminmenu li.wp-has-submenu:hover .wp-submenu {
    left: 220px !important;
		border-top: 1px solid #ddd;
}

#wpwrap #adminmenu li.wp-has-submenu.wp-has-current-submenu .wp-submenu {
  left: 0px !important;
padding-left: 20px;
}
.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
    border: none;
    background: #008fd5 !important;
    color: #fff;
    margin-top: 1px;
}
.nav-tab {
    float: left;
    border: 1px solid #fff;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);
    border-bottom: none;
    margin-left: .5em;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 24px;
    background: none;
    color: #555;
}
#wpadminbar ul li.hover, #wpadminbar ul li a:hover {
	background:#273649 !important;
}

#adminmenu .wp-submenu {

}

#adminmenu div.wp-menu-image::before {
	color: #999 !important;
}

#adminmenu .current {
  background: #fff;
}

#wpbody-content {
    padding-bottom: 65px;
    float: left;
    width: 100%;
    overflow: visible !important;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    padding-left:20px;
}

li#wp-admin-bar-view-site > a.ab-item {

}
 #adminmenu li a:hover {
	 background: #273649 none repeat scroll 0% 0% !important;
 }
 #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {

    background: #ddd;
}



#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li a:hover,
#adminmenu li:hover a,
#adminmenu li:hover,
#adminmenu li a:focus {
    background: #f1f1f1 none repeat scroll 0% 0% !important;


}

#adminmenumain {
	width: 190px !important;
}

#wpbody, #wpcontent {
	background: #f1f1f1 !important;
	padding: 10px !important;
	margin-top: 30px;
}
#wpwrap {

    background: #f1f1f1;
}

#wpadminbar .ab-label {
    color: #333 !important;
}

#wpbody {
  margin-top: 0px !important;
  padding-left: 0px !important;
}
#collapse-menu:hover, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {

}
#wpadminbar .ab-icon, #wpadminbar .ab-icon::before, #wpadminbar .ab-item::after, #wpadminbar .ab-item::before {

}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    color: #ddd;
}
#adminmenu li.current a.menu-top {background: #f1f1f1; color:#ddd;}


#wpwrap #adminmenu {
    margin: 0px 0  !important;

}

#wpadminbar ul > li > a,
#wpadminbar ul > li > a > span.ab-icon,
#wpadminbar ul > li > a > span.ab-label {
  color: #fff !important;
}

#wpadminbar .ab-sub-wrapper ul > li > a {
  color: #333;
}

#wpadminbar .menupop.hover a,
#wpadminbar li.menupop.hover a.ab-item {
	background: #273649;
	color: #fff !important;
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    color: #fff !important;
    background: #273649 !important;
}

.wp-admin ul#adminmenu li a .wp-menu-name {
	color: #555;
}

#wpwrap #wpadminbar .menupop .ab-sub-wrapper, #wpwrap #wpadminbar .shortlink-input {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    position: absolute;
    float: none;
    background: #273649 !important;
    top: 51px !important;
}

#wpwrap #wpcontent, #wpwrap #wpfooter {
    margin-left: 210px !important;
}

#wpwrap #wpadminbar {
    line-height: 32px;
    height: 63px;
    background: #fff;
margin: 0;
padding: 0;
}
#wp-admin-bar-wp-logo {
width: 220px !important;
border-right: 1px solid #ddd !important;
height: 62px !important;
margin-top: 0 !important;
padding-top: 0px !important;
}

#wpwrap #adminmenu li.current a, #adminmenu .current {
background: none !important;
color: #fff !important;
}

.proman-icon img {
height: auto !important;
width: 190px !important;
margin-top: -14px !important;
}

#wpcontent #wpadminbar a { color: #333 !important; }
#wpcontent #wpadminbar li:hover ,
#wpcontent #wpadminbar a:hover,
#adminmenumain li:hover,
#adminmenumain li a:hover {
}

#wpadminbar .ab-icon::before, #wpadminbar .ab-item::before, #wpadminbar #adminbarsearch::before {
    color: #999 !important;
}

#wpcontent #wpadminbar a {
    height: 60px;
    padding-top: 14px !important;
}

/**/
.profile-form p label, .fr-work-location p label,.profile-certificates .ctf-frm p label {
	min-width:150px
}
.profile-form select {
	height:28px!important
}
.profile-form textarea#about-me{
	width:calc(100% - 162px);
	box-sizing:border-box;
	min-height:96px;
	box-shadow: none;
}

.profile-form p input, .fr-work-location p input,.profile-certificates .ctf-frm p input{
	min-width:280px;
	min-height:28px;
	box-shadow:none
}

button#update-profile{
    color: #fff;
    background-color: #36a3f7;
    border-color: #36a3f7;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin-left: 150px;
}
.fr-work-location button {
 color: #fff;
    background-color: #36a3f7;
    border-color: #36a3f7;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
}
.fr-work-location button.btn-work-location{
margin-left:150px;
margin-right:8px;
}
.acf-fields.-border{
padding:15px
}
#utilities-content .utili-child-item > span{
position:relative;
top:2px;
left:5px
}
.utili-child-item{
padding:5px!important;
box-sizing:border-box
}
#dt_news-type .news-right .acf-label strong{
display:inline-block;
min-width:170px
}
#dt_news-type .news-right .acf-label input {
min-width:125px
}
.project-tabs-panel .bootstrap-select{
width:100%!important;
}
.project-tabs-panel .bootstrap-select .btn{
padding:3px 12px
}
.project-tabs-panel .bootstrap-select.form-control{
height:28px
}

/* css steps*/

#post-body-content .project-tabs ul.setup-panel{
border:none;
margin-left:15px!important
}
ul.setup-panel > li {
  float: left;

margin-right:0!important
}
ul.setup-panel > li > a {
  position: relative;
  background-color: #eeeeee!important;
border:none;
min-width:100px;
text-align:center;
font-weight:bold;
color:#000;
border:none!important;
height:40px;
border-radius:0;
padding-top:10px!important;
padding-bottom:10px!important;

}
ul.setup-panel > li > a .badge {
  margin-left: 3px;
  color: #eeeeee;
  background-color: #428bca;
}
ul.setup-panel > li:not(:first-child) > a {
  padding-left: 34px;
}
ul.setup-panel > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #f9f9f9;
  position: absolute;
  content: "";
  top: 0;
  left: 0;

}
ul.setup-panel > li:not(:last-child) > a {
  margin-right: 6px;
}
ul.setup-panel > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eeeeee;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
ul.setup-panel > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
ul.setup-panel > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
ul.setup-panel > li.done:hover > a,
ul.setup-panel > li:hover > a {
  background-color: #d5d5d5;
}
ul.setup-panel > li.done:hover > a:before,
ul.setup-panel > li:hover > a:before {
  border-right-color: #d5d5d5;
}
ul.setup-panel > li.done:hover > a:after,
ul.setup-panel > li:hover > a:after {
  border-left-color: #d5d5d5;
}
ul.setup-panel > li.done > a {
  background-color: #e2e2e2;
}
ul.setup-panel > li.done > a:before {
  border-right-color: #e2e2e2;
}
ul.setup-panel > li.done > a:after {
  border-left-color: #e2e2e2;
}
ul.setup-panel > li.active > a,
ul.setup-panel > li.active > a:hover,
ul.setup-panel > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca!important;
}
ul.setup-panel > li.active > a:after {
  border-left-color: #428bca;
}
ul.setup-panel > li.active > a .badge {
  color: #428bca;
  background-color: #ffffff;
}
ul.setup-panel > li.disabled > a {
  color: #777777;
}
ul.setup-panel > li.disabled > a:hover,
ul.setup-panel > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: #eeeeee;
  cursor: default;
}
ul.setup-panel > li.disabled > a:before {
  border-right-color: #eeeeee;
}
ul.setup-panel > li.disabled > a:after {
  border-left-color: #eeeeee;
}
ul.setup-panel.nav-justified > li {
  float: none;
}
ul.setup-panel.nav-justified > li > a {
  padding: 10px 15px;
}
@media (max-width: 768px) {
  ul.setup-panel.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
  }
  ul.setup-panel.nav-justified > li > a:before,
  ul.setup-panel.nav-justified > li > a:after {
    border: none !important;
  }
}

#wpadminbar li a, #wpadminbar ul li.hover{
background:none!important;
}
#wpcontent #wpadminbar li a.ab-item:hover:hover {
color:#1489e6!important
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper {
min-width:1px!important;
max-width:250px!important;
background:#fff!important;
box-shadow: 0 1px 7px 2px rgba(135,158,171,.2)!important;
right:5px;
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper ul {
padding:10px;
background:none!important
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper:before{
    position: absolute;
    top: -7px;
    right: 7px;
    display: inline-block;
    content: '';
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-bottom-color: transparent;
    border-left: 7px solid transparent;
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper:after{
    position: absolute;
    top: -6px;
    right: 8px;
    display: inline-block;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper ul li {
margin:0
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper ul li a{
height:auto;
padding:5px!important;
}
#wpwrap #adminmenu li.wp-has-submenu:hover .wp-submenu{
background:#f1f1f1 !important
}
#wpwrap #adminmenu li.wp-has-submenu:hover .wp-submenu li a:hover {
color:#1489e6!important
}

.profile-form {
    width: 60%;
    float: left;
}
.profile-content {
width: 30%;
float: left;
}
.frm-profile {
padding-bottom: 20px;
}
.wp-admin #wpwrap #wpadminbar .menupop .ab-sub-wrapper, .wp-admin #wpwrap #wpadminbar .shortlink-input {

    top: 63px !important;
}
#wp-admin-bar-user-actions, .ab-sub-wrapper {
background: #f1f1f1 !important;
}
#wpwrap #wpadminbar #wp-admin-bar-my-account > .ab-sub-wrapper::after {
border-bottom: 6px solid #f1f1f1;
}
.proman-icon > img {
margin-top: -5px !important;
}
#collapse-menu {

}
.glyphicon {

    margin-right: 5px;
}
.wp-list-table #types {
width: 146px;
}
.project-tabs-panel .acf-input-prepend, .project-tabs-panel .acf-input-append{
height:auto
}
.project-tabs-panel .acf-field:nth-child(odd) .acf-fields.-border {
background:#fafafa
}
.project-tabs-panel + .project-tabs{
margin-top:15px
}
.project-tabs-panel .button-nav{
padding: 0 15px
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus{
background:transparent!important;

}
.wp-admin #adminmenu > li:hover > a .wp-menu-name{
	background:#fff;
	color:#273649!important
}
#adminmenu .wp-submenu{
left:220px!important;
}
.fields-investments .acf-field{
  padding:0 15px;
  box-sizing:border-box
}
#btn-get-address{
    background: #0073aa;
    border: none;
    height: 27px;
    color: #fff;
	border: 1px solid #006799;
}
.tablenav-pages-navspan{
	height:auto!important
}

#picture-avatar {
	border-radius:100%
}

/************** WPMU ***************/
#wp-admin-bar-my-sites > .ab-sub-wrapper,
#menu-appearance,
 #wpbody-content .update-nag, #dashboard-widgets-wrap, #screen-meta-links,
 #wpadminbar #wp-admin-bar-my-sites,
 #wp-admin-bar-updates,
 #wp-admin-bar-nginx-helper-purge-all,
 #adduser, #add-existing-user, .user-comment-shortcuts-wrap
 , .user-admin-bar-front-wrap,
body.toplevel_page_kpi_domainmapping #wpbody-content form[method="POST"] > h3,
body.toplevel_page_kpi_domainmapping #wpbody-content form[method="POST"] > ol,
body.settings_page_dm_admin_page #wpbody-content form[method="POST"] > h3,
body.settings_page_dm_admin_page #wpbody-content form[method="POST"] > ol
 { display: none !important; }
#wp-admin-bar-my-sites .ab-sub-wrapper .ab-sub-wrapper {
	left: 176px;
}
li.menu-icon-dashboard {
    background: none !important;
}

input {
    border: 1px solid #eee;
    height: 30px;
}
.form-table th {
    text-align: left;
    line-height: 1.3;
    font-weight: 300;
}

#wpadminbar ul > li > a,
#wpadminbar ul > li > a > span.ab-icon,
#wpadminbar ul > li > a > span.ab-label {
  color: #fff !important;
}

#wpadminbar .ab-sub-wrapper ul > li > a {
  color: #333;
}

#wpadminbar .menupop.hover a,
#wpadminbar li.menupop.hover a.ab-item {
	background: #273649;
	color: #fff !important;
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    color: #fff !important;
    background: #f1f1f1 !important;
}

ul#adminmenu li a .wp-menu-name {
	color: #555 !important;
}

#wpwrap #wpadminbar .menupop .ab-sub-wrapper, #wpwrap #wpadminbar .shortlink-input {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    position: absolute;
    float: none;
    background: #273649 !important;

}

.wp-admin ul#adminmenu li a:hover,
.wp-admin ul#adminmenu li:hover,
.wp-admin ul#adminmenu li .wp-menu-name:hover {
  background: #f1f1f1 !important;
}


.wp-admin #adminmenu > li:hover > a .wp-menu-name, .wp-admin #adminmenu > li > a. .wp-menu-name {
    background: none !important;
    color: #2b99B0 !important;
}

#wp-admin-bar-site-name .ab-sub-wrapper,
.user-admin-color-wrap,
.ab-item img.avatar { display: none !important;}


.alternate, .striped > tbody > :nth-child(2n+1), ul.striped > :nth-child(2n+1) {
    background-color: #fff;
}
#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    border: none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 1px 0px 3px 1px #ddd;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 768px) {

.wp-admin #wpwrap #wpcontent, .wp-admin #wpwrap #wpfooter {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.wp-admin #wpwrap, #wpbody, #wpcontent {
  margin-top: 0 !important;

}
#wpwrap #wpcontent #wp-admin-bar-menu-toggle {
  padding-top: 10px !important;
}
#wpwrap .wrap {
  margin: 55px 20px 0 2px;
}
#wpwrap #adminmenu {
    margin: 25px 0px 0 !important;
}
#wp-admin-bar-top-secondary {
  width: 107px;

  position: absolute !important;

  right: -20px;

  top: -8px;
}

#wp-admin-bar-top-secondary span.display-name {
margin-left: -132px;
}
#wpwrap #adminmenu li.wp-has-submenu.wp-has-current-submenu .wp-submenu {

    left: 0px !important;
    padding-left: 0;

}
#wpadminbar #wp-admin-bar-my-account > .ab-item {

    width: 100px !important;
  }

}
