.page-header.navbar {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    height: 110px;
    min-height: 110px;
    filter: none;
    background-image: none;
}
.page-header-inner{
    width: 100%;
}
.page-header.navbar.navbar-fixed-top {
    z-index: 9995;
    background-color: #ffffff;
    display: block;
}
.navbar-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.page-header.navbar .page-logo{
    background-color: #fff;
    float: left;
    display: block;
    width: 195px;
    height: 68px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-header.navbar .page-logo > a {
    display: block;
    float: left;
}
.page-header.navbar .page-logo .logo-default{
    margin: 0;
    margin-top: 15px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.page-header.navbar .page-top {
    /*box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.2);*/
    background: #ffffff;
    height: 68px;
}
.htitle {
    margin-left: 50px;
}
.htitle h2 {
    color: #555;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 1px 1px 1px #ddd;
    -moz-text-shadow: 1px 1px 1px #ddd;
    -webkit-text-shadow: 1px 1px 1px #ddd;
    height: 68px;
    display: flex;
    align-items: center;
}
.page-header.navbar .top-menu {
    margin: 0;
    padding: 0;
    float: right;
}
.pull-left{
    float:left;
}
.pull-right {
    float: right;
}
.page-header.navbar .dropdown-toggle:focus,
.page-header.navbar .dropdown-toggle:active{
    background:transparent;
    border: none;
    box-shadow: none;
    color: #555;
}
.page-header.navbar .dropdown-toggle{
    border: none;
    background: transparent;
    color: #555;
}
.page-header.navbar .top-menu .dropdown-toggle img.avatar{
    height: 45px;
    display: inline-block;
    width: 45px;
    z-index: 9999;
    background: #ddd;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}
.page-header.navbar .top-menu .navbar-nav {
    padding: 0;
    margin-right: 30px;
    display: block;
}
.page-header.navbar .dropdown-menu{
    position: absolute;
}
.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 10px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    width: 195px;
}
.page-header.navbar .dropdown-menu li{
    margin: 10px 0;
}

.page-footer {
    height: inherit;
    overflow: hidden;
    background: #fff;
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    box-shadow: 0 -2px 2px #ddd;
    margin-top: 5px;
    background: url('../images/bg_footer.png') no-repeat right top !important;
}
.footer-logo, .footer-phone {
    margin-right: 20px;
}
.footer-item i{
    padding-right: 10px;
}
.footer-item.footer-phone i{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    position: relative;
    top: 5px;
}
.footer-logo img {
    width: auto;
    height: 100%;
}
.footer-content{
    display: flex;
    align-items: center;
}
.footer-content a{
    color:#fff;
}
.footer-right .footer-item {
    float: right;
}
.footer-logo {
    height: 37px;
    position: relative;
}
.navbar-main{
    width: 100%;
    background: #008fd5;
}
.navigation-menu-main .navbar-main .nav-link,
.navigation-menu-main .navbar-main .active > .nav-link{
    color:#fff;
}

.navigation-menu-main{
    padding: 0;
}
.navbar-main .nav-item.active {
    border-bottom: 5px solid #3ACDD5;
}
.navigation-menu-main .navbar-main .active{

}
.navigation-menu-main .navbar-main .nav-link:hover,
.navigation-menu-main .navbar-main .nav-link:focus{
    border-color: transparent;
    color:#fff;
}
.page-container{
    margin-top: 150px;
}