body.login{
    background: url('../images/bg_opacity_blue.png') repeat-x 0 0;
}
.login .logo{
    margin: 60px auto 0px auto;
    padding: 15px;
    text-align: center;
}
.login img {
    width: 200px;
}
.login .content {
    background: none;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.login .content .login-form{
    margin: 0;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 1px 5px 1px #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.login-form h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
    color: #111;
    margin-top: 20px;
}
.display-hide, .display-none {
    display: none;
}
.input-icon {
    position: relative;
    left: 0;
}
.input-icon > i {
    color: #ccc;
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
    left: 0;
    top: 5px;
}
.input-icon > .form-control {
    padding-left: 33px;
}
.login .content .form-control {
    background-color: #fff;
    border: none;
    box-shadow: inset 0px 0px 3px 1px #ddd !important;
    -webkit-box-shadow: inset 0px 0px 3px 1px #ddd !important;
    -moz-box-shadow: inset 0px 0px 3px 1px #ddd !important;
    height: 45px;
    line-height: 40px;
    font-size: 15px;
}
.login .content p, .login .content label {
    color: #111;
}

#wp-submit {
    background: #32c5d2;
    color: #fff;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    text-shadow: none;
    border: none;
    box-shadow: unset;
    float: right;
    padding: 5px 10px;
    cursor: pointer;
}
.login .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #111;
    font-size: 13px;
}