.level-1 {
  display: none !important;
}
td.id-col > .level-1,
td.id-col > .level-2,
td.id-col > .level-3{
    display: inline-block !important;
}
h1 {
    font-size: 22px !important;
}
.parent-categories.navbar-left > li:last-child > a {
    border-bottom: 0px solid #cce9f7 !important;
}
.dang-ky-va-danh-gia-kpi .btn-group.bootstrap-select button.btn {
  margin-top: 8px !important;
}
button.btn.view-new-year {
  margin-top: 8px;
}
.dang-ky-va-danh-gia-kpi a.create-new-year {
    top: 15px;
}
#menu-left .navbar-left .children.kpi-theo-he-thong-chuc-danh {
    padding-left: 20px;
    background: #fff;
    border-left: 1px solid #cce9f7;
    border-right: 1px solid #cce9f7;
    border-bottom: 1px solid #cce9f7;
}
#menu-left .parent-categories { margin-bottom: 20px; }
li.cat-item:last-child {
  border-bottom: 1px solid #cce9f7;
}

.main-content-kpi {
    box-shadow: 1px 1px 2px 0px #ddd !important;
    -moz-box-shadow: 1px 1px 2px 0px #ddd !important;
    -webkit-box-shadow: 1px 1px 2px 0px #ddd !important;
}

button[type="reset"] {
  background: #ff9c00;
}

select#orgchart_id {
  width: 70%;
border: 1px solid #ddd;
line-height: 30px;
height: 35px;
}

.page-template-page-organizational-structure .sub-content {
    background: none;
  }

  .caption h2 {
    font-size:22px;
  }

  .page-content-wrapper .page-content {
    padding: 15px 15px 30px 15px !important;
}

.page-template-page-apply-kpi-system .page-content {
  padding: 0 !important;
}


h2 {
    font-size: 15px !important;
}
.for-year, .for-quarter {
    padding-right: 5px !important;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 0px solid #ddd !important;
}

.portlet > .portlet-title {
    border-bottom: none !important;
  }

  #orgChartContainer pre {
    display: none;
  }

  .dashboard-content.main-content {
    min-height: 480px;

}

.page-template-page-organizational-structure .glyphicon {
  color: #fff;
}
table#org-chart-table tr > th.employee, table#org-chart-table tr > td.employee {
    border-left: 1px solid #e7ecf1;
    border-right: 1px solid #e7ecf1;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
}
.nav-left {
  background: #e5f4fb;
  min-height: 580px;
}
.menu-item {
    border-bottom: 1px solid #fff !important;
}
.level1 {
  background: #A2D2ED;
  width: 25%;

}

.level2 {
  background: #B8DDF1;
}

.btn[type="button"] {
  color: #111 !important;
}

.level3 {
  background: #D0E8F6;
}

.modal-header {
    background: #008fd5;
    color: #fff;
}

.page-content h1::after {
  border-bottom: 3px solid red;
}

.post-entry.col-md-4 {
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #ddd;
    min-height: 230px;
    margin-right: 15px;
    width: 23%;
}

.post-entry.col-md-4 .header h2 a {
  color: #555;
  font-size: 18px;
}

.readmore { display: none; }

.page-content .modal-body table {
  box-shadow: unset !important;
}

.page-content .modal-body table td {
  border: none;
}

.page-content .modal-body tfoot a {
    border: none;
}

#orgChartContainer .container {
  width: 100%;
}

.table-managerment-target-kpi.kpi-phongban .column-1,
.table-managerment-target-kpi.kpi-phongban .column-2,
.table-managerment-target-kpi.kpi-phongban .column-3,
.table-managerment-target-kpi.kpi-phongban .column-4,
.table-managerment-target-kpi.kpi-phongban .column-5,
.table-managerment-target-kpi.kpi-phongban .column-6,
.table-managerment-target-kpi.kpi-phongban .column-7,
.table-managerment-target-kpi.kpi-phongban .column-8,
.table-managerment-target-kpi.kpi-phongban .column-9{
    white-space: normal;
}
#tpl-department-kpi-members .modal-header {
    padding-bottom: 0px;
}
#tpl-department-kpi-members .modal-body {
    padding-top: 0px;
}
#tpl-department-kpi-members .modal-body table.table.list-members {
    margin-top: 0px;
    margin-bottom: 0px;
}
#tpl-department-kpi-members table.table.list-members > thead > tr {
    background-color: #D0E8F6;
}
#tpl-department-kpi-members table.table.list-members > thead > tr > th {
    max-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.modal-dialog .input-group.input-percent > .input-group-addon,
.modal-dialog .input-group-select > .input-group-addon {
    max-width: none !important;
    min-width: 105px !important;
}
td.item-type-kpi[data-toggle="modal"],
td.item-content[data-toggle="modal"] {
    cursor: pointer;
}
#popup-kpi-bank .table-input-kpi-bank td > .btn-group.bootstrap-select {
    width: 100%;
}
