

body.login, body, .page-content {

    background: url('assets/images/bg_opacity_blue.png') repeat-x 0 0 !important;

}
input:not([type="checkbox"]), input:not([type="radio"]), textarea{
    border: 1px solid #ccc;
}
.page-footer {
  /*background: url('assets/images/bg_footer.png') no-repeat right top !important;*/
}
#chart-container { border: none !important; }
.orgchart {
    background: none !important;
}
.page-template-page-manage-members .user-list {
  background: none !important;
border-left: 1px solid #ddd;
border-top: 1px solid #fff;
}
.page-template-page-manage-members .user-list thead {
  background: none !important;
}
form.user-register-form .col-lg-12 > .footer, form.user-edit-form .col-lg-12 > .footer {
    text-align: center !important;
    margin-top: 25px;
}

.page-template-page-manage-members .user-list td,
.page-template-page-manage-members .user-list th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.input-group {
    margin-bottom: 15px;
}
.btn.btn-primary {

    outline: 0 !important;
    border-radius: 50px !important;
    margin-left: 5px;
    box-shadow: 0px 1px 0px 1px #fff !important;

}
.page-header.navbar .page-logo .logo-default {
    margin-top: 15px !important;
}
h4 {
    font-size: 21px !important;
    margin-bottom: 20px !important;
    margin-top: 15px;
}
.page-template-page-manage-members .user-list tbody tr:nth-child(2n+2) {
  background: #fefefe;
}
.input-group-addon {
  border: none !important;
  background: none !important;
}
.btn-primary {
    color: #fff;
    background-color: #008FD5 !important;
    border-color: #fff !important;

}
.form-user-filter .input-group #tim-id.input-group-addon > button {
    border-width: 0px 0px 0px 0px;
    background-color: #eee !important;
    color: #111 !important;
    border-radius: 0 0 0 0 !important;
    border: 1px solid #ddd !important;
}

.page-template-page-profile .form-group > label.control-label {
  float: left;
}


.page-template-page-kpi-bank td {
  text-align:center;
}

.page-template-page-kpi-bank td.item-content {
  text-align:left;
  padding: 5px 15px;
}

.table-list-detail tfoot td {
  background: none !important;
}
.page-template-page-kpi-bank .column-3,
.page-template-page-kpi-bank .column-6 {
  padding-left:10px;
}

.page-template-page-kpi-bank .item-code {
  min-width: 67px;
}

.page-template-page-kpi-bank .item-type-kpi {
  min-width: 25%;
text-align: left;
padding: 5px 10px;

}

.page-template-page-kpi-bank .edit {
  text-indent: -9999;
}
.page-template-page-kpi-bank tbody tr:nth-child(2n+2) {
  background: #ECF6FB;
}
.page-template-page-apply-kpi-system tbody tr:nth-child(2n+2) {
  background: #ECF6FB !important;
}
.page-template-page-apply-kpi-system tbody td {
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
}
.page-template-page-kpi-bank td {
  border-right: 1px solid #ddd;
}

.backstretch { display: none; }
h1,h2,h3,h4,p,a {
  color:#111;
}

h2 {
  font-size: 20px;
}

i.fa {
  margin-right:10px;
  color: #678;
}

.input-icon > i {
    top: 5px;
  }
.page-footer i.fa { color:#667788; }

.login img { width: 200px !important; }
.login .logo {
    margin: 10px auto 0px auto !important;
  }

  .btn {
    background: #008fd5;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    color:#fff !important;

  }

  .login .content p, .login .content label {
    color: #555;
}
.login .content { background: none !important; }

.login-form {
  background: #fff;
padding: 10px 20px !important;
box-shadow: 0px 1px 5px 1px #ddd;
margin-top:100px !important;
}

.rememberme > span {
  background: #fff;
border: 1px solid #ccc;
}

.login .mt-checkbox > span::after {
    border-color: #32c5d2;
}

.login .copyright {
    color: #555;
}

.login-form h3 {
  text-align: center;
}
.login .content .form-control {
    background-color: #fff;
    border: none;
    box-shadow: inset 0px 0px 3px 1px #ddd !important;
    -webkit-box-shadow: inset 0px 0px 3px 1px #ddd !important;
    -moz-box-shadow: inset 0px 0px 3px 1px #ddd !important;
    height: 45px;
    line-height: 40px;
    font-size: 15px;
}

.input-icon > i {
    margin: 16px 2px 4px 10px;
  }

  #wp-submit {
    background: #999;
color: #fff;
border-radius: 3px !important;
-webkit-border-radius: 3px !important;
-moz-border-radius: 3px !important;
text-shadow: none;
border: none;
box-shadow: unset;
float: right;
padding: 5px 16px;

  }
  .login form {
      border: none !important;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
  }


/***** sub site ***/
.nav.nav-tabs {
  background: #008fd5;
  box-shadow: 6px 2px 7px -2px #555;
  -moz-box-shadow: 6px 2px 7px -2px #555;
  -webkit-box-shadow: 6px 2px 7px -2px #555;
}
.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: none;
}

.nav.nav-tabs li a { color: #fff !important; padding: 10px 5px; }
body .nav.nav-tabs .nav-item.active {
  border-bottom: 5px solid #3ACDD5;
  /*border: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
  border-image-slice: 1;*/
}
body .nav.nav-tabs .nav-item.active a , .nav.nav-tabs li a:hover, .nav.nav-tabs li:hover {
  background: none !important;
  border: none;
  border-bottom: 1px solid #fff;
}
.orgchart .verticalNodes .has-level-space > div.level-space::before {
    content: " ";
    width: 2px;
    height: 95px;
    position: absolute;
    left: 5px;
    display: inline-block;
    margin-left: -1px;
    top: 24px;
    background-color: rgba(217, 83, 79, 0.8);
}
.orgchart .verticalNodes ul:first-child {
    margin-top: 4px !important;
}

.page-content-wrapper .page-content {
    margin-left: 0;
}

.page-bar {
  background: none !important;
}
ul li {
  list-style: none !important;
}
.post-entry.col-md-4 {
  background:#fff;
  padding: 15px;

}


.portlet.box.blue {
  border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
border-top: 0;
box-shadow: 0px 1px 3px 1px #ddd;
}

.sub-content {
  background: #fff;
padding: 20px;
}

.htitle {
margin-left: 50px;
}
.htitle h2 {
  color: #555 !important;
  font-size: 22px !important;
  font-weight: 500;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #ddd;
  -moz-text-shadow: 1px 1px 1px #ddd;
  -webkit-text-shadow: 1px 1px 1px #ddd;
}
.footer-content a {
  color:#999 !important;
}
.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 0px solid #ddd;
    border-radius: unset;
}
.page-footer {
    height: inherit;
    overflow: hidden;
    background: #fff;

    margin-top: 5px;
}
body .page-header.navbar .top-menu .navbar-nav li.dropdown-user .dropdown-toggle img.avatar {
    float: left;
    margin-top: -9px;
    margin-right: 7px;
    height: 39px;
    display: block;
    width: 45px;
    z-index: 9999;
    background: #ddd;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}



.form-group.message {

}

.form-group.message > p[class*="error-"]{
    color: red;
}

li.cat-item.root-system ul.children {
    padding-left: 20px;
}

.user-row .id-col input.id {
  margin-right: 5px;
}
.user-list .id-col {
  min-width: 120px;
}
.user-list .display_name {
  min-width: 150px;
}

.user-list .avatar-img {
  width: 79px;
text-align: center;
}
#chart-container { min-height: 680px !important; height: auto !important; }
.page-template-page-manage-members .user-list td, .page-template-page-manage-members .user-list th {
    padding: 3px 10px !important;
  }

  .table-input-formula .column-1 { text-align: right; }
  .table-input-formula tbody tr:nth-child(2n+2) ,
  .table-input-kpi-bank tbody tr:nth-child(2n+2) {
    background: none !important;
  }

  .table-input-formula tr {
    margin-bottom: 5px;
  }

.table-input-kpi-bank textarea.post_title {
  text-align: left;
line-height: 10px !important;
padding-top: 10px !important;
padding-left: 5px !important;
}

.table-input-kpi-bank .column-1 {
    width: 30%;
    text-align: right !important;
    padding-right: 5px !important;
}

.table-input-kpi-bank .column-2  { text-align: left; }
.apply-kpi-system .table-block-list-register tbody td.column-2 {
    padding-left: 5px !important;
}
#tpl-department-kpi-members .title-muctieu-phong,
#tpl-department-kpi-members .title-kehoach-phong,
#tpl-department-kpi-members .title-nhanvien-phong  {
  padding-top: 10px;
  padding-bottom: 10px;
}
#tpl-department-kpi-members .modal-body table.table.list-members {
    margin-top: 20px !important;
}
.notification.error {
  padding-left: 10px;
padding-bottom: 10px;
font-style: italic;
}
#management-behavior > .list-detail > .top-list-detail > a[data-target="#apply-for-role"] {
  border: 1px solid #008fD5;
padding: 5px 10px;
border-radius: 50px;
margin-left: -120px;
}
.bootstrap-select.select-for-year .btn.dropdown-toggle {
  background: #ddd;
}
/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 768px) {

.login .content {
  padding: 10px !important;
  width: 290px !important;
}


.page-template .page-logo {
  margin: 0 auto;

text-align: center !important;

width: 310px;

padding: 0;

margin: 0;

height: 50px;
}

.logo-default {
  width: 123px;

text-align: center;

margin: 0 auto;

    margin-top: 0px;
    margin-left: auto;
}

.page-header.navbar .page-logo .logo-default {

    margin: 0 auto;
        margin-top: 0px;
        margin-left: auto;
    text-align: center;
    position: absolute;
    left: 100px;
    right: 0;

}

.htitle h2 {

    color: #555 !important;
    font-size: 16px !important;
    font-weight: 500;
    margin-top: 0 !important;
    text-shadow: 1px 1px 1px #ddd;
    -moz-text-shadow: 1px 1px 1px #ddd;
    -webkit-text-shadow: 1px 1px 1px #ddd;
    width: 100% !important;
    text-align: center !important;

}
.dropdown.dropdown-user {
  position: absolute;
  right: 0;
  top: 0;
}

.dropdown-user img.avatar {
  display: none !important;
}

.navbar ul.nav.nav-tabs {
  margin-top: -30px;
}

.pull-left {

    float: left !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

}

.page-header  ul.nav-tabs li.nav-item a {
  text-align: left;
}

.user-row td.id-col > label > span {
    padding-left: 5px;
}

}
