a:hover{
    text-decoration: none;
}
h2{
    margin: 0;
}
ul{
    margin:0;
    padding: 0;
}
ul li{
    list-style: none;
}
.clearfix{
    clear: both;
}
.background-eeeeee{
    background-color: #eee !important;
    border: 1px solid #eee !important;
}
body .nav.nav-tabs .nav-item.active{
    border: 0 !important;
}
.error{
    display: block;
    color: red;
}
.warning{
    display:block;
    color: #d3a100;
    font-style: italic;
    padding-bottom: 10px;
}
.border-radius-default{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.txt-default{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.page-header.navbar .page-logo .logo-default{
    margin-top: 10px;
}
.page-header.navbar .page-logo{
    background-color: #fff !important;
}
.menu-left-item{
    overflow: hidden;
    margin-top:5px;
}
.menu-left-item .navbar-left, .menu-left-item .navbar-left .children, #menu-left .navbar-left .children{
    padding-left: 20px;
}
.menu-left-item .mf-title{
    padding: 5px 0;
}
.menu-left-item li a{
    padding: 5px 0;
    display: inline-block;
}

.part-kpi-bank .page-content-wrapper .page-content{
    margin-top:20px;
}
.kpi-bank-right{

}
.content-top h1.entry-title{
    margin: 0;
    font-size:25px;
}
.search-right{
    position: relative;
    padding-right: 0;
}
.search-right .keyword{
    width: 100%;
    padding: 5px 10px;
    padding-right: 30px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px #ddd;
    -webkit-box-shadow: 1px 1px 2px #ddd;
    -moz-box-shadow: 1px 1px 2px #ddd;
}
.search-right .btn-kpi-search{
    position: absolute;
    top: 0;
    color: #ccc;
    right: 0;
    padding: 6px 9px;
    padding-top: 7px;
    font-size: 14px;
    background: none;
    outline: none;
    border: none;
}

.main-content-kpi{
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #ddd;
    -moz-box-shadow: 2px 2px 2px #ddd;
    -webkit-box-shadow: 2px 2px 2px #ddd;
}

/* Begin style gridview */
.grid-view{
    margin: 10px 0;
}
.brb-custom-table, .brb-custom-table tr{
    border: 2px solid #dbe8f4;
    width: 100%;
}
.brb-custom-table tr{
    border-right: none;
    border-left: none;
    border-top: none;
}
.row-title{
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    color:#fff;
}
.item-numerical-order, .group-numerical-order{
    text-align: center;
}
.row-group-title{
    padding: 10px;
    font-weight: 600;
}
.row-group-title.group-title{
    text-transform: uppercase;
    color:red;
}
tbody.row-thead-title-group, .row-group-title.group-title {
  color: #333 !important;
font-weight: bold;
font-style: italic;
}
.action-add-row-group, .action-add-group{
    text-align: right;
    font-style: italic;
    font-weight: 500;
}
.action-add-group{
    text-align: left;
    padding: 10px 0;
    padding-left: 20px;
    background: linear-gradient(to right, #ffffff , #e6f4fc);
    background: -webkit-linear-gradient(to right, #ffffff , #e6f4fc);
    background: -moz-linear-gradient(to right, #ffffff , #e6f4fc);
}
.action-add-row-group i.fa, .action-add-group i.fa{
    padding-left: 10px;
    color:#008fd5;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.parent-categories.navbar-left li.cat-item.active > a[data-cat],
.row-thead-title-group tr{
    background: linear-gradient(to right, #e5f4fb , #ddeffc);
    background: -webkit-linear-gradient(to right, #e5f4fb , #ddeffc);
    background: -moz-linear-gradient(to right, #e5f4fb , #ddeffc);
}
.row-thead-title-parent tr{
/*    background: linear-gradient(to bottom right, #0591d6 , #e9f6fc);*/
    background: rgb(0, 142, 213);
}
.title-numerical-order{
    width: 5%;
}
.item-action-on-off{
    text-align: center;
    position: relative;
}
.item-action-on-off .notification{
    position: absolute;
    width: 200px;
    display: block;
    left: -180px;
    padding: 20px;
    z-index: 999;
    top: -15px;
    color: #fff;
    background: #07b36c;
    box-shadow: 1px 1px 4px -1px #555 !important;
    -moz-box-shadow: 1px 1px 4px -1px #555 !important;
    -webkit-box-shadow: 1px 1px 4px -1px #555 !important;
}
.item-action-on-off .notification:before{
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: -7px;
    top: 35%;
    color: #36b36b;

}
/*.title-synthesis, .row-thead-title-parent th:last-child{
    color: #269fdb;
}*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input.checkbox-status {display:none;}

.checkbox-slider {
    width: 22px;
    display: inline-block;
    padding: 2px 0;
    border: 1px solid #cce9f7;
    background: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
label.switch > input[disabled] + .checkbox-slider,
input[disabled] + .checkbox-slider {
    cursor: default;
}

.checkbox-slider:before {
    /*content: "\f00d";*/
    content: "";
    height: 13px;
    display: inline-block;
    color: rgb(221, 65, 65);
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 16px;
}
label.switch > input[disabled] + .checkbox-slider:before,
input[disabled] + .checkbox-slider:before {
    color: grey;
}
.input-group input.checkbox-status + .checkbox-slider:before {
    content: "" !important;
    height: 13px;
    display: inline-block;
}
input.checkbox-status:checked + .checkbox-slider:before {
    content: "\f00c" !important;
    font-size: 16px;
    color: rgb(2, 143, 213);
}

/* Rounded sliders */

.action-bot{
    text-align: center;
}
.btn-brb-default{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 20px;
    border: none;
    outline: none;
    font-weight: 600;
}
.col-sm-3 {
    width: 22%;
}
.col-sm-9 {
  width: 77%;
}
.btn-brb-default i{
    color:#fff !important;
    font-size: 18px;
}
.btn-save{
    background: #008fd5;
    color: #fff;
}
.btn-cancel{
    margin-left: 20px;
    background: #ed3c2c;
    color: #fff;
}
.hidden-default{
    display: none;
}
/* End style gridview */



.footer-logo{
    height: 37px;
    position: relative;
}
.footer-logo img{
    width: auto;
    height: 100%;
}
.footer-logo, .footer-phone{
    margin-right: 20px;
}
.footer-left .footer-item{
    float:left;
}
.footer-right{
    padding-top: 11px;
}
.footer-right .footer-item{
    float:right;
}
.footer-right .footer-item i{
    padding-right:5px;
}
.footer-address h3, .footer-address address{
    margin: 0;
    color: #3290d6!important;
}
.footer-address h3{
    font-size: 14px;
    padding-bottom: 5px;
}
.page-footer{
    height:inherit;
    overflow: hidden;
    background: #fff;
    /*box-shadow: 0px -2px 2px #ddd;*/
    margin-top: 5px;
}
/* begin dashboard */
#dashboard-menu-wrap{
    width: 10%;
    display: inline-block;
    padding: 25px 0;
}
.dashboard-content.main-content{
    width:90%;
    display: inline-block;
    padding: 20px;
    background-color: #fff;
}
#dashboard-menu-wrap, .dashboard-content, .part-dashboard .page-content{
    padding: 0;
}
#dashboard-menu-wrap .menuwrap{
    padding-left:0;
    margin-top: 30px;
}
.menu-item{
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid rgb(76, 176, 255);
}
.menuwrap .menu-item:last-child{
    border-bottom: none;
}
.menu-item:hover, .menu-item.active{
    background-color: rgb(76, 176, 255);
}
.menu-item:hover > a, .menu-item.active > a{
    color:#fff!important;
}
.menu-item:hover > a > img, .menu-item.active > a > img{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.menu-item a img{
  display: block;
  margin: auto;
  width: 20px;
  padding-bottom: 5px;
}
.block-item{
    min-height: 425px;
    padding-left: 0;
    padding-right:0
}
#block-target-kpi{
    margin-right:20px;
}
.block-shadow{
    -webkit-box-shadow:  0px 0px 5px #ccc;
    -moz-box-shadow:  0px 0px 5px #ccc;
    box-shadow:  0px 0px 5px #ccc;
}
.header-block{
    padding: 15px 10px;
    border-bottom: 1px solid #cfeaf8;
    min-height: 60px;
}
.header-target-kpi{
    display: block;
}
.header-target-kpi .name-block{
    width: 35%;
}
.name-block h2{
    font-weight: 600;
}
.for-year, .for-quarter, .for-month{
    padding-right: 20px;
    float: right;
}
.for-quarter, .for-month{
    margin-left: 20px;
}
.for-year label, .for-quarter label{
    padding-right: 10px;
}
.content-block.content-block-target-kpi{
    padding: 20px 30px;
}
.content-block .progress-bar{

}
.header-progress{
    padding-bottom: 5px;
}
.header-progress .percent{
    float: right;
    font-weight: 600;
}
.progress{
    height: 5px;
    border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
}
.progress-bar-cty{
    background: #fdea5a;
}
.progress-bar-room{
    background: #7acf24;
}
.progress-bar-management{
 background: #98e53b;
}
.classification{
    text-align: center;
}
.classification label{
    color:#fff;
    font-weight: 600;
    font-size: 16px;
    background: #ed3f3f;
    padding: 10px 20px;
}
.classification label i{
    color:#fff;
    font-size: 20px;
}
.header-block .name-block h2{
    display: inline-block;
}
.header-dashboard-kpi .show-for-time{
    font-size: 20px;
    display: inline-block;
}
.connect-for-time{
    display: inline-block;
    padding: 0 10px;
    font-weight: normal;
    font-size: 20px;
}
.list-news-feed{
    width: 100%;
}
.list-news-feed tr:hover{
    background: -moz-linear-gradient(to right, #fff, rgb(229, 244, 251));
    background: -webkit-linear-gradient(to right, #fff, rgb(229, 244, 251));
    background: linear-gradient(to right, #fff, rgb(229, 244, 251));
}
.list-news-feed td{
    padding: 5px 0;
    padding-left: 10px;
    border-bottom: 1px solid rgb(204, 233, 247);
}
.list-news-feed td.view-detail a{
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.list-news-feed td.status{
    width: 10%;
    text-align: center;
}
.list-news-feed td.date{
    width:15%;
}
.list-news-feed td.view-detail{
    width: 25%;
    text-align: center;
}
.list-news-feed td.status i{
    background-color: rgb(241, 165, 27);
    color:#fff;
    font-size: 15px;
    padding: 6px 0;
    width: 26px;
    border-radius: 50%;
}

.report-item{
    width:200px;
    height:100px;
    margin:auto;
}
.report-target-kpi{
    margin-bottom: 30px;
    text-align: center;
}
.block-detail{
    margin-top: 50px;
}
.management-list{
    margin-bottom: 30px;
}
.management-list li{
    display: inline-block;
}
.management-list li a{
    display: block;
    padding: 0px 10px;
    text-transform: uppercase;
    color: rgb(185, 183, 185);
    font-weight: 600;
}
.management-list li a:hover, .management-list li a.active{
    color:rgb(33, 154, 218);
}
.list-room-target-kpi{

}
.list-room-target-kpi li{
    border-left: 1px solid rgb(229, 243, 251);
    border-top: 1px solid rgb(229, 243, 251);
    display: block;
    float:left
}
.list-room-target-kpi li:last-child{
    border-right: 1px solid rgb(229, 243, 251);
}
.list-room-target-kpi li.room-finance{
    border-bottom: 2px solid #008fd5;
}
.list-room-target-kpi li.room-customer{
    border-bottom: 2px solid #ee3f3f;
}
.list-room-target-kpi li.room-operate{
    border-bottom: 2px solid #7fc45d;
}
.list-room-target-kpi li.room-development{
    border-bottom: 2px solid #fea055;
}

.list-room-target-kpi li a{
    padding: 10px 20px;
    display: block;
}
.list-room-target-kpi li a img{
    height: 20px;
    padding-right: 10px;
}
.list-room-target-kpi li:hover > a > img, .list-room-target-kpi li.active > a > img{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.list-room-target-kpi li:hover a, .list-room-target-kpi li.active > a{
    background-color: #008fd5;
    color:#fff;
}
.list-room-target-kpi li.room-finance:hover > a, .list-room-target-kpi li.room-finance.active > a{
    background-color: #008fd5;
}
.list-room-target-kpi li.room-customer:hover > a, .list-room-target-kpi li.room-customer.active > a{
    background-color: #ee3f3f;
}
.list-room-target-kpi li.room-operate:hover > a, .list-room-target-kpi li.room-operate.active > a{
    background-color: #7fc45d;
}
.list-room-target-kpi li.room-development:hover > a, .list-room-target-kpi li.room-development.active > a{
    background-color: #fea055;
}
.list-detail{

}
.top-list-detail{
    border: 1px solid #e5f3fb;
    border-bottom: none;
    padding-bottom: 10px;
}
.top-list-detail .check-all{
    float:right;
    margin-top: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    background: #008fd5;
    color: #fff;
}
.top-list-detail .check-all i{
    color:#fff;
}
.icon-percent{
    background: rgb(88, 191, 58);
    color:#fff;
    padding: 5px 10px;
    position: relative;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    margin-left: 20px;
}

.icon-percent:before{
    content: '';
    position: absolute;
    left: -24px;
    top: 0;
    border: 12px solid transparent;
    border-color: transparent #58bf3a transparent transparent;

}
.top-list-detail .title .icon-percent{
    background: rgb(88, 191, 58);
}
.top-list-detail .title .icon-percent:before{
    border-color: transparent #58bf3a transparent transparent;
}
.top-list-detail .title{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
}
.table-list-detail{
    width: 100%;
}
.table-list-detail thead tr{
    border: 1px solid #e5f3fb;
    background: rgb(241, 247, 252);
}
.table-list-detail thead th{
    padding: 10px;
    vertical-align: top;
}
.table-list-detail tbody tr{
    border: 1px solid rgb(235, 233, 235);
    border-top: none;
}
.table-list-detail td{
    padding: 10px;
}
.table-list-detail .align-center, .align-center{
    text-align: center;
}
.table-list-detail .column-7{
    width: 7%;
}
.table-list-detail .column-6{
    width: 13%;
}
/*.table-list-detail .cbx-status{
    display: none;
}*/
.table-list-detail .column-8 .cbx-status[type="checkbox"] + label{
    position: relative;
    top: -11px;
    left: -10%;
    cursor: pointer;
    font-weight: normal;
}
.table-list-detail .column-8 .cbx-status[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.table-list-detail .column-8 .cbx-status[type="checkbox"]:checked + label:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.table-list-detail .column-8 .cbx-status[type="checkbox"]:not(:checked)+label:after, .table-list-detail .column-8 .cbx-status[type="checkbox"]:checked+label:after{
    content: '✔';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    color: rgb(18, 134, 196);
    line-height: 1.75;
    transition: all .2s;
}

.table-list-detail .column-8 .cbx-status[type="checkbox"]:not(:checked)+label:before, .table-list-detail .column-8 .cbx-status[type="checkbox"]:checked+label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #95989A;
    background: #fff;
}
.table-managerment-capacity input.txt-result, .table-managerment-capacity input.txt-tendency{
    width: 50px;
    padding: 13px 0;
    text-align: center;
}
.table-managerment-capacity input.txt-result{
    background: rgb(204, 233, 247);
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(204, 233, 247);
}
.table-managerment-capacity textarea.textarea-note{
    width: 150px;
    min-height: 50px;
    margin-top: 3px;
}
.table-managerment-capacity .column-3{
    width: 12%;
}
.table-managerment-capacity .column-4{
    width: 9%;
}
.table-managerment-capacity .column-5{
    width: 8%;
}
.managerment-capacity-feedback{
    margin: 40px 0;
}
.managerment-capacity-feedback-content{
    width: 80%;
    margin:auto;
}
.managerment-capacity-feedback-content h3{
    font-size: 15px;
    font-weight: bold;
}
.capacity-trend{
    float:left;
    width:18%;
    text-align: center;
    margin-right: 40px;
}
.capacity-feedback-other{
    overflow: hidden;
    /*border: 1px solid rgb(210, 210, 210);*/
}
.capacity-trend .show-image{
    height: 75px;
    background: rgb(240, 248, 251);
}
.textarea-capacity-feedback{
    min-height: 100px;
    width: 100%;
}
.capacity-trend .show-info-input{
    border: 1px solid rgb(215, 228, 234);
}
.capacity-trend .show-info-input select{
    width: 100%;
    border:none;
    border-bottom: 1px solid rgb(217, 230, 239);
    background: #fff;
    outline: none;
}
.show-info-input{
    width: 100%;
    height:100px;
}

    /* end dashboard */

/* begin register-kpi */
#block-register-kpi .header-register-kpi .for-year, #block-register-kpi .header-register-kpi .for-date, .header-target-kpi .for-date{
    float:right;
    padding-right: 0;
}
#block-register-kpi .header-register-kpi .for-date .for-year, #block-register-kpi .header-register-kpi .for-date .for-month, .header-target-kpi .for-year{
    float: left;
}
#block-register-kpi .header-register-kpi .for-date .for-month{
    margin-left: 20px;
}
#block-register-kpi .header-register-kpi .name-block{

}
#block-register-kpi #create-kpi-new-year i{
    font-size: 18px;
    color:#0089d1;
    margin-left: 10px;
}

.table-block-list-register{
    width: 100%;
    box-shadow: 0px 0px 2px 1px #eee;
    -webkit-box-shadow: 0px 0px 2px 1px #eee;
    -moz-box-shadow: 0px 0px 2px 1px #eee;
    margin-bottom: 10px;
}
.table-block-list-register .icon-percent:before{
    border-color: transparent #fea33d transparent transparent;
}
.table-block-list-register .icon-percent{
    background: #fea33d;
    padding-left: 0;
    outline: none;
}
.table-block-list-register thead tr{
    background: -moz-linear-gradient(to right, #2f92ce, #96bce7 );
    background: -webkit-linear-gradient(to right, #2f92ce, #96bce7 );
    background: linear-gradient(to right, #2f92ce, #96bce7 );
    color:#fff;
    text-transform: uppercase;
}
.table-list-operate thead tr{
    background: -moz-linear-gradient(to right, #50ba61, #7dc16e );
    background: -webkit-linear-gradient(to right, #50ba61, #7dc16e );
    background: linear-gradient(to right, #50ba61, #7dc16e );
}
.table-list-learn-develop thead tr{
    background: -moz-linear-gradient(to right, #f9a23c, #fdbe5d );
    background: -webkit-linear-gradient(to right, #f9a23c, #fdbe5d );
    background: linear-gradient(to right, #f9a23c, #fdbe5d );
}
.table-list-customer thead tr{
    background: -moz-linear-gradient(to right, #ed4636, #ed6a5f );
    background: -webkit-linear-gradient(to right, #ed4636, #ed6a5f );
    background: linear-gradient(to right, #ed4636, #ed6a5f );
}
.table-block-list-register .column-3 input[type="text"]{
    width: 35px;
    display: none;
    color: #000;
    text-align: center;
}
.table-block-list-register tbody tr{
    border-bottom: 1px solid #ccc;
}
.table-block-list-register thead th, .table-block-list-register tbody tr td{
    padding: 10px 0;
}
.table-block-list-register th.column-1-2{
    padding-left: 10px;
}
.table-block-list-register .column-3{
    width: 25%;
    text-align: center;
}
.table-block-list-register tbody tr td{

}
.table-block-list-register .column-1{
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
    text-align: center;
}
.content-register-kpi-chart{
    padding: 20px;
}
.register-kpi-chart{
    width: 200px;
    height: 200px;
    margin:auto;
}
/* end register-kpi */

/* begin pagination */
.pagination{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.pagination .paginate{
    padding: 0;
    margin: 0;
}
.pagination ul li {
    display: inline-block;
    padding: 0 2px;
}
.pagination ul li .page, .pagination ul li .next, .pagination ul li .prev{
    padding: 2px 8px;
    border: 1px solid #ccc;
}
.pagination ul li .page.current, .pagination ul li a:hover{
    background: rgb(241, 247, 252);
    border:1px solid rgb(127, 200, 235);
}

.pagination ul li .next, .pagination ul li .prev {
    padding: 2px 3px;
}
.pagination ul li .next i, .pagination ul li .prev i{
    margin-right: 0;
}



/* end pagination */

.group-clone td{
    padding: 10px;
}
.group-clone .input-text, .row-tfoot-group .display-none .input-text{
    width: 100%;
}
.group-clone a[data-event], .row-tfoot-group .display-none a[data-event="add-group-row"], button.btn-add-group-target{
    margin-top: 10px;
    display: inline-block;
    padding: 8px 20px;
    background: #008fd5;
    color: #fff;
}
button.btn-add-group-target{
    float:right;
    margin-top: 0;
}
button.btn-add-group-target i{
    color: #fff;
}
.row-tfoot-group .frm-add-group-target{
    padding: 10px 20px;
    overflow: hidden;
}
.row-tfoot-group .frm-add-group-target .input-text{
    width: 80%;
    float:left;
    height: 38px;
    padding: 0 10px;
}
em.error.help-block{
    display: none!important;
}
em.error.help-block + input.error, input.error{
    border: 1px solid #c60b0b;
}
input.valid{
    border: 1px solid #ccc;
}
#myDialogConfirm .modal-dialog{
  width: 500px;
  margin: 13% auto;
}
.modal-dialog h4 {
  font-size: 17px !important;
}
#myDialogConfirm .modal-body{
    text-align: center;
}
.progress-bar{
    transition-duration: 1s;
}
.response-container.error{
    text-align: left;
    padding-bottom: 15px;
}
.response-container.success{
    text-align: left;
    color: #00c000;
}
#settings h2.title, #settings .settings-item{
    margin-bottom: 20px;
    width: 100%;
}
#settings h2.title{
    text-transform: uppercase;
    font-weight: 600;
}
#settings label.control-label {
    display: inline-block;
    padding-bottom: 10px;
}
#settings .form-group > .file-input{
    width: 100%;
    display: inline-block;
}
#settings .preview-avatar{
    margin: 20px 0;
}

.label-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.label-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.label-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.label-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-radio input:checked ~ .checkmark:after {
    display: block;
}

.label-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu {
    max-height: 200px !important;
    overflow-y: scroll;
    min-width: 300px;
    max-width: 400px;
}
.kpi-category.btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu > li > a > span.text,
.kpis.btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu > li > a > span.text {
    display: inline-block;
    max-width: 400px;
    min-width: 300px;
    white-space: normal;
    padding-left: 15px;
}
.btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu > li.disabled > a > span.text {
    font-weight: bold;
    padding-left: 0px;
}
[id^="tpl-ceo-target-"] > form.modal-dialog.modal-lg {
    min-width: 1170px;
}
.table.phongban td.unit {
    max-width: 105px;
}
td.unit > .btn-group.bootstrap-select.chuc-danh-unit {
    max-width: 105px;
}
td.unit > .btn-group.bootstrap-select.chuc-danh-unit  > .dropdown-menu > ul.dropdown-menu {
    min-width: 200px;
    max-width: 200px;
}
td.muc-tieu > .btn-group.bootstrap-select.kpis.input-select {
    width: 100% !important;
    max-width: 325px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    color: #111;
    margin-top: 5px;
    background-color: #ddd;
    padding: 0.625rem 1.25rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #ddd;

color: red;
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}
label[for="imports-bank-kpi"] i{
    color:#fff;
}
.action-show-popup{
    text-align: right;
}
.has-files{
    display: none;
}
tr.editer-item > td {
    padding: 0px 0px 0px 0px;
}
.editer-item > .kpi-plan {

}
.editer-item > .kpi-plan > .form-group {
    margin-bottom: 0px;
    position: relative;
}
.editer-item > .kpi-plan > .form-group > input.form-control,
.editer-item > .kpi-plan > .form-group > div.btn-group.bootstrap-select {
    display: inline-block;
}
.editer-item > .kpi-plan > .form-group > input.form-control {
    padding-left: 10px;
    padding-right: 0px;
    width: 120px !important;
}
.editer-item > .kpi-plan > .form-group > div.btn-group.bootstrap-select {
    height: 30px;
    position: relative;
    top: -4px;
    width: 70px !important;
}
.editer-item > .kpi-plan > .form-group > div.btn-group.bootstrap-select .dropdown-toggle{
    padding-left: 5px;
}
.editer-item > .kpi-plan > .form-group > div.btn-group.bootstrap-select selectpicker{
    display: none;
}
.editer-item > .kpi-plan > .form-group > div.btn-group.bootstrap-select > .dropdown-menu,
.editer-item > .kpi-plan > .form-group > div.btn-group.bootstrap-select > .dropdown-menu > .dropdown-menu.inner {
    max-width: 180px;
}

.tab-pane .table-list-detail tr > .kpi-id {
    max-width: 100px;
    width: 100px;
}
.tab-pane .table-list-detail tr > .kpi-content {

}
.tab-pane .table-list-detail tr > .kpi-plan {
    max-width: 200px;
    width: 200px;
}
.tab-pane .table-list-detail tr > .kpi-aproved {
    max-width: 130px;
    width: 130px;
    padding-left: 0px;
    padding-right: 0px;
}
.tab-pane .table-list-detail tr > .kpi-aproved .form-control.switch.status {
    width: 100% !important;
    border-width: 0px 0px 0px 0px !important;
    background-color: transparent;
}
.tab-pane .table-list-detail tr > .kpi-receive {
    max-width: 130px;
    width: 130px;
}
.tab-pane .table-list-detail tr > .kpi-receive > .input-group{
    margin-bottom: 0px;
}
.tab-pane .table-list-detail tr > .kpi-receive .input-group .date-btn {
    /* position: absolute; */
    padding: 1px 7px;
}
.tab-pane .table-list-detail tr > .kpi-receive.input-group {
    margin-bottom: 0px;
}
.tab-pane .table-list-detail tr > .kpi-percent {
    max-width: 100px;
    width: 100px;
}
.tab-pane .table-list-detail tr > .kpi-action {
    max-width: 85px;
    width: 85px;
}
.tab-pane .table-list-detail tr.editer-item {
    background-color: #f1f1f1 !important;
    width: 100%;
}
.tab-pane .table-list-detail tr.editer-item.edit {
    /*position: absolute;*/
    z-index: 999;
}
.tab-pane .table-list-detail tr.editer-item.add {
    position: relative;
}
.tab-pane .table-list-detail > tbody {
    position: relative;
    padding-bottom: 30px;
}
.tab-pane .table-list-detail tr.editer-item > td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.switch.bank-parent {
    width: 100% !important;
    height: auto;
}
.switch.bank-parent > span {
    display: inline-block;
}
.switch.bank-parent > span.text {
    width: calc(100% - 30px);
}
.kpi-content > ul.list-group {
    margin-bottom: 0px;
}
.kpi-content > ul.list-group > li.list-group-item{
    padding: 0px 10px;
}
tr.editer-item > td {
    vertical-align: top;
}
tr.editer-item > td.kpi-content > h4 {
    margin: 0px !important;
}
h1.col-md-6 {
    margin: 0 0 0 0;
}
.col-md-4 .btn-group.bootstrap-select {
    width: 100% !important;
}
.form-user-filter .input-group #tim-id.input-group-addon {
    padding: 0 0 0 0;
}
.form-user-filter .input-group #tim-id.input-group-addon > button {
    border-width: 0px 0px 0px 0px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 0 0 0 0 !important;
}
.table-list-detail tr.kpi-of-year td{
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ccc;
}

#confirm-chart-popup > .modal-dialog,
#confirm-popup > .modal-dialog,
#orgchart-popup-item > .modal-dialog{
    background-color: #ffffff;
}
.confirm-modal .modal-header {
  background: #ddd !important;
  color: #333 !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.modal-header .close,
.confirm-modal .modal-header .close {
    text-indent: inherit !important;
    overflow: hidden;
    width: 14px;
    height: 24px;
}
tbody.row-tbody-content-item tr:nth-child(4n+1) {

    background-color: #efefef;

}
a {
    text-shadow: none;
    color: #666;
}
td.group-numerical-order {
  text-align: left;
width: 68px;
}
.modal-header .close > span,
.confirm-modal .modal-header .close > span {
    position: relative;
    top: -5px;
}
form input[type="text"] {
  padding:3px 10px;
}
.modal-header .close > span:before,
.confirm-modal .modal-header .close > span:before {
    position: relative;
}
.modal-header .close > span,
.modal-header .close > span:before,
.confirm-modal .modal-header .close > span,
.confirm-modal .modal-header .close > span:before {
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
}
.confirm-modal h4.modal-title {
    margin-bottom: 0px !important;
    text-align: center;
    color: #ffffff;
    font-weight: bold;

}
.confirm-modal .modal-footer {
    text-align: center;
}
.modal .btn-primary, .modal button.btn-cancel {
    border-radius: 50px !important;
}
.user-list tr > td.action {
    text-align: center;
}
tr.user-row.success,
tr.user-row.error {
    display: table-row;
}
.user-register-form .container .form-group label[for="orgchart_id"] + .btn-group.bootstrap-select {
    width: 70% !important;
}

h4.modal-title {
    margin-bottom: 0px !important;
}
.selectpicker-nam,
.selectpicker-quy,
.selectpicker-thang {
    float: right;
    width: 165px;
}
#tpl-kpi-year .selectpicker-nam,
#tpl-kpi-year .selectpicker-quy,
#tpl-kpi-year .selectpicker-thang{
    float: left;
}
.header-register-kpi .name-block1 > h2 {
    padding: 6px 6px 6px 6px;
    margin-right: 10px;
}
.header-register-kpi .name-block1 > h2,
.header-register-kpi .selectpicker-all{
    float: left;
    display: inline-block;
}
button.view-new-year.btn.btn-primary {
    float: right;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px !important;

}
a.create-new-year {
    float: right;
    position: relative;
    top: 9px;
}
.selectpicker-quy {
    width: 130px;
}
.selectpicker-nam > .input-group,
.selectpicker-quy > .input-group,
.selectpicker-thang > .input-group {
    width: 100%;
    margin-bottom: 0px;
}
.selectpicker-nam > .input-group label[for="select-for-nam"],
.selectpicker-quy > .input-group label[for="select-for-quy"] {
    padding-left: 10px;
}
.selectpicker-thang > .input-group .btn-group.bootstrap-select .dropdown-menu,
.selectpicker-quy > .input-group .btn-group.bootstrap-select .dropdown-menu,
.selectpicker-nam > .input-group .btn-group.bootstrap-select .dropdown-menu{
    max-width: 150px;
}
.bootstrap-select .dropdown-menu {
    z-index: 99999 !important;
}
.width60{
    width: 60%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width10{
    width: 10%;
}
.width05{
    width: 5%;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled]{
    background-color: #dddddd;
    color: #999999 !important;
}
.form-control.switch.status{
    background: transparent;
    border: none;
}
.user-edit-form.user-form .notification.success, .user-register-form.user-form .notification.success{
    color: #07b36c;
    display: block;
}
.user-edit-form.user-form .notification, .user-register-form.user-form .notification{
    padding-left:28%;
}
.user-register-form.user-form .notification.error{
    padding-bottom: 0;
}
.page-content-wrapper .page-content {
    margin-top: 20px;
}
.change-password label.error{
    padding-left: 28%;
    font-style: italic;
    padding-top: 2px;
}
@-webkit-keyframes loopopacity {
    0% { opacity: 0.5; }
    50% {  opacity: 0.75; }
    100% {  opacity: 0.5; }
}

@-moz-keyframes loopopacity {
    0% { opacity: 0.5; }
    50% {  opacity: 0.75; }
    100% {  opacity: 0.5; }
}

@-o-keyframes loopopacity {
    0% { opacity: 0.5; }
    50% {  opacity: 0.75; }
    100% {  opacity: 0.5; }
}

@keyframes loopopacity {
    0% { opacity: 0.5; }
    50% {  opacity: 0.75; }
    100% {  opacity: 0.5; }
}
.wrapper-lazy-loading-data{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99990;
    top: 0;
    left: 0;
}
.wrap-lazy-overlay{
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #FFF;
    top: 0;
    left: 0;
}
.wrap-lazy-content{
    position: absolute;
    left: 48%;
    top: 40%;
}
.wrap-lazy-content img{
    -webkit-animation: loopopacity 2500ms infinite;
    -moz-animation: loopopacity 2500ms infinite;
    -o-animation: loopopacity 2500ms infinite;
    animation: loopopacity 2500ms infinite;
}
.wrap-lazy-content img{
    display: block !important;
    width: 50px;
}
