/*
Theme Name: EFFICIENCY ASSESSMENT
Theme URI: #
Author: Richard
Author URI: #
Description: This theme support for System
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: effa_site
*/

.switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.switch input.checkbox-status {display:none;}

.checkbox-slider {
    width: 22px;
    display: inline-block;
    padding: 2px 0;
    border: 1px solid #cce9f7;
    background: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    font-weight: normal;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
label.switch > input[disabled] + .checkbox-slider,
input[disabled] + .checkbox-slider {
    cursor: default;
}

.checkbox-slider:before {
    /*content: "\f00d";*/
    content: "";
    height: 13px;
    display: inline-block;
    color: rgb(221, 65, 65);
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 16px;
}
label.switch > input[disabled] + .checkbox-slider:before,
input[disabled] + .checkbox-slider:before {
    color: grey;
}
.input-group input.checkbox-status + .checkbox-slider:before {
    content: "" !important;
    height: 13px;
    display: inline-block;
}
input.checkbox-status:checked + .checkbox-slider:before {
    content: "\f00c" !important;
    font-size: 16px;
    color: rgb(2, 143, 213);
}