#room-target-kpi .action-bot{
    margin-top: 20px;
    padding-bottom: 20px;
}
.btn-action-item {
    background: rgb(0, 143, 213);
    color: #fff;
}
#room-target-kpi .btn-cancel{
    margin-left: 0;
    margin-right: 20px;
}
#room-target-kpi .btn-action-item{
    margin-right: 20px;
}
#room-target-kpi .btn-action-item:last-child{
    margin-right: 0;
}
.table-list-detail tfoot td{
    text-align: center;
    font-style: italic;
    background: #ccc;
}
.table-list-detail tfoot td a{
    color:#555;
}
.table-list-detail tfoot td i{
    color: rgb(0, 143, 213);
}
.top-list-detail .title .icon-percent{
    background-color: #fea33d;
}
.top-list-detail .title .icon-percent:before{
    border-color: transparent #fea33d transparent transparent;
}
.head-member{
    padding: 20px 10px;
}
.expried-register{
    float: right;
    color: red;
    font-style: italic;
}
.title-usermember{
    overflow: hidden;
}
.table-annotate-list{
    width: 100%;
}
table.table-annotate-list tbody td{
    padding: 10px;
    border-right: none;
}
.table-annotate-list .color-annotate{
    height: 30px;
    width: 30px;
    display: block;
    margin:auto;
    background: #ccc;
}
.table-annotate-list .color-finance, .color-finance{
    background: #008fd5;
}
.table-annotate-list .color-customer, .color-customer{
    background: #ee3f3f;
}

.table-annotate-list .color-operate, .color-operate{
    background: #7fc45d;
}
.color-influence{
    color:#686868;
}
.table-annotate-list .color-development, .color-development{
    background: #fea055;
}
.table-annotate-list .column-text-center{
    text-align: center;
}
.table-annotate-list .column-2, .table-annotate-list .column-1{
    width: 5%;
}
.table-annotate-list .column-5{
    width: 10%;
}
i.fa.color-ceo, i.fa.color-room{
    margin-right: 0;
    font-size: 16px;
}
.color-ceo, i.fa.color-ceo{
    color: #0290d6;
}
.color-room, i.fa.color-room{
    color: #f0a618;
}
.bgd-register-chart, .room-register-chart{
    width: 300px;
    height: 300px;
}
.bgd-register-chart canvas{
    width: 100%!important;
    height: 100%!important;
}

.room-report-target-kpi .report-item{
    width: 220px;
    height:110px;
}
.level-middle .canvas-item{
    width: 250px;
    height: 250px;
}
.tranform-uppercase .name-block{
    text-transform: uppercase;
}
.dashboard-content.main-content.duyet-dang-ky{
    padding:0;
}
.duyet-dang-ky .approved-kpi{
    padding: 20px;
}
#confirm-register-kpi .header-block {
    padding-left: 30px;
    padding-right: 30px;
    /*margin-bottom: 30px;*/
}
.phongban > li.input-group,
#list-kpis > li.input-group {
    display: block;
    width: 100%;
}
.phongban > li.input-group > .input-group-addonm,
#list-kpis > li.input-group > .input-group-addon {
    width: 80% !important;
    text-align: left;
    padding: 3px 12px;
}

#list-kpis > li.input-group > .switch,
#list-kpis > li.input-group > .input-group-addon .switch {
    width: 100% !important;
}

#list-kpis > li.input-group > .switch {
    display: block;
    height: auto !important;
}
.phongban > li.input-group > .switch.department {
    height: auto !important;
}
.phongban > li.input-group > .input-group-addon .switch.department > .checkbox-slider,
#list-kpis > li.input-group > .switch > .checkbox-slider,
#list-kpis > li.input-group > .input-group-addon .switch > .checkbox-slider {
    width: 10% !important;
    display: inline-block;
    max-width: 20px;
    position: absolute;
    top: 2px;
}

#list-kpis > li.input-group > .input-group-addon .switch.department > .text,
#list-kpis > li.input-group > .switch > .text,
#list-kpis > li.input-group > .input-group-addon .switch > .text {
    width: 90% !important;
    display: inline-block;
    max-width: 400px;
    padding-left: 25px;
}
.phongban > li.input-group > .input-group-addon .switch.department > .text,
#list-kpis > li.input-group.no-child > .switch > .text {
    width: 100% !important;
    max-width: 100%;
    padding-left: 0px;
    font-weight: bold;
}
.bootstrap-select.select-for-year, .bootstrap-select.select-for-month{
    width:80px!important;
}
.bootstrap-select.select-for-quarter{
    width: 100px!important;
}
.table-infor-item, .table-infor-item-chart{
    width: 100%;
}
table.table-infor-item-chart tbody td{
    padding-top: 0px;
    padding-bottom: 0px;
}
.table-infor-item-chart .column-2{
    width: 5%;
}
.table-infor-item-chart .color-annotate{
    display: inline-block;
    width: 25px;
    height: 20px;
}
.table-infor-item-chart .report-item canvas{
    position: relative;
    top: -18px;
}
#confirm-register-kpi .table-infor-item-chart, .block-confirm-register table.table-approved-list, .apply-kpi-system table.list-news-feed{
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.table-infor-item-chart .report-item{
    height: 200px;
}
#confirm-register-kpi .block-info .title{
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(to right, #2e92cf, #97bae5);
    background: -webkit-linear-gradient(to right, #2e92cf, #97bae5);
    background: -moz-linear-gradient(to right, #2e92cf, #97bae5);
}
#confirm-register-kpi .top-register-kpi{
    padding-left: 20px;
    padding-right: 20px;
}
#confirm-register-kpi .infor-item{
    padding: 0 50px;
}
#confirm-register-kpi .block-info .block-item{
    padding-bottom: 20px;
}
#confirm-register-kpi .table-infor-item td.column-1{
    padding: 0;
    width: 15%;
}
#confirm-register-kpi .table-infor-item td.column-2{
    padding-left: 30px;
}
#confirm-register-kpi .table-infor-item td.column-1 img{
    height: 115px;
}
.block-confirm-register .status-approved{
    float: right;
    padding: 5px 10px;
    background: #008fd5;
    color: #fff;
}
.block-confirm-register .title{
    padding: 20px;
    padding-top:15px;
    border-bottom: 1px solid #e2f0f7;
}
.block-confirm-register .ititle{
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px;
    color: #2da3dc;
}
.block-confirm-register .approved{
    float:right;
}
.block-confirm-register .approved label{
    padding: 5px 10px;
    float: right;
}
.block-confirm-register table.table-approved-list{
    width: 100%;
    margin-top: 0;
}
table.table-approved-list thead tr{
    background: #f1f8fc;
}
table.table-approved-list tbody tr{
    border-top: 1px solid #e2f0f7;
}


#tpl-ceo-kpi-year form .modal-body .input-group label.input-group-addon {
    min-width: 105px;
    width: 105px;
}
.phongban > li.input-group {
    display: table !important;
}
.phongban > li.input-group > label.input-group-addon.switch.department {
    display: table-cell;
    min-width: 250px;
    text-align: left;
}
.phongban > li.input-group > label.input-group-addon.switch.department > .checkbox-slider {
    position: relative !important;
}

.form-group.form-plans > .input-group > .input-group-addon:first-child{
    min-width: 180px;
    text-align: left;
}
.block-confirm-register .block-item{
    height: 434px;
}

.time-approved {
    font-weight: 600;
}
.form-group.input-group.input-group-select {
    width: 100%;
}
#tpl-ceo-kpi-year > form.modal-dialog{

}
.input-group-select .blockUI.blockMsg.blockElement,
.input-group-select .blockUI.blockMsg.blockElement > img {
    width: 34px !important;
    height: 34px !important;
    border-width: 0px !important;
}
.form-group.input-group-list > .list-group > li.list-group-item > .form-group.input-group,
.form-group.input-group-list > .list-group > li.list-group-item > .form-group.input-group > .switch {
    width: 100% !important;
}
.form-group.input-group-list {
    max-height: 420px !important;
    overflow-y: scroll;
    margin-bottom: 0px;
    display: block !important;
}
.form-group.input-group-list > .list-group {
    margin-bottom: 0px;
}
.form-group.input-group-list > .list-group > li.list-group-item {
    padding: 3px 10px;
}
.form-group.input-group-list > .list-group > li.list-group-item > .form-group {
    margin-bottom: 0px;
}
.form-group.input-group-list > .list-group > li.list-group-item > .form-group.input-group {
    padding-left: 10px;
}
.form-group.input-group-list > .list-group > li.list-group-item.no-child > .form-group.input-group {
    padding-left: 0px;
}
.form-group.input-group-list > .list-group > li.list-group-item.no-child > .form-group.input-group > .switch {
    font-weight: bold;
}
.phongban-list > label.control-label {
    font-weight: bold;
}
.phongban-list > .phongban {
    font-weight: bold;
}
.checkbox-status[type="radio"] + .checkbox-slider {
    border-radius: 50% !important;
}
.form-group.input-group-list > .list-group > li.list-group-item > .form-group.input-group .switch > .checkbox-slider,
.phongban-list > .phongban > li.input-group > .switch.department > .checkbox-slider {
    background-color: #ffffff;
}
.bootstrap-select.input-group-btn.kpi-category.input-select {
    width: 100% !important;
}
.date-btn {
    cursor: pointer;
}
body > .xdsoft_datetimepicker {
    z-index: 10100;
}
table.user-list.list-staff tr.parent{
    background: linear-gradient(to right, #e5f4fb , #ddeffc);
    background: -webkit-linear-gradient(to right, #e5f4fb , #ddeffc);
    background: -moz-linear-gradient(to right, #e5f4fb , #ddeffc);
    font-weight: 600;
}
table.user-list.list-staff tr.children{
    background: #fff;
}
table.user-list.list-staff thead tr{
    background: rgb(0, 142, 213);
    color:#fff;
}
table.user-list.list-staff th, table.user-list.list-staff td {
    padding: 10px;
}
.confirm-register-list-user{
    padding: 0 30px;
}
.apply-for-nhanvien .block-item{
    height: 350px;
}
.apply-for-nhanvien #block-register-kpi canvas{
    position: relative;
    top: -25px;
}
.apply-for-nhanvien #block-register-kpi .block-detail{
    margin-top: 30px;
}
.apply-fornhanvien .canvas-item{
    width:300px;
}
.apply-kpi-system .action-bot{
    margin-top: 20px;
}
#confirm-apply-kpi .modal-body{
    text-align: center;
}
.block-register-kpi-bgd .top-register-kpi{
    overflow: hidden;
}
.table-fixed {
    width: 100%;
}
.table-fixed tbody{
    height:120px;
    overflow-y:auto;
    width: 100%;
}
.table-fixed thead,.table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th{
    display:block;
}
.table-fixed tbody td{
    float:left;
}
.table-fixed tbody tr{
    clear: both;
}
.table-fixed thead tr{
    width: 100%;
    display: block;
    overflow: hidden;
}
.table-fixed thead tr th{
    float:left;
}
td.kpi-departments p{
    margin: 0;
    margin-bottom: 5px;
}
td.kpi-departments p:last-child{
    margin-bottom: 0;
}
.action-edit{
    /*position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 15px;
    display: none;*/
}
.personal-action-edit{
    /*bottom: -15px;*/
}
.action-edit i{
    font-size: 25px;
    color: #999;
}
.table-list-detail tr td.kpi-content{
    position: relative;
}
.table-list-detail tr:hover > td .action-edit{
    display: inline-block;
}
.bootstrap-select.input-group-btn.post_title-target_work, .bootstrap-select.kpi-for.kpi-for-target_work,
.bootstrap-select.input-group-btn.width657
{
    width: 100%;
}
.table-result-kpi-personal thead th{
    vertical-align: middle;
}
.table-result-kpi-personal .column-10{
    width: 15%;
}
.table-result-kpi-personal .column-10 i, i.fa-upload{
    color:#fff;
}


.show-files p{
    margin-top: 5px;
}
.show-files a{
    display: inline;
}
/*.content-fieldset-month, .content-fieldset-precious{
    display: block;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-rule: 1px solid #ccc;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
}
.content-fieldset-precious.not-column-count,
.content-fieldset-month.not-column-count{
    column-count: inherit;
    -webkit-column-count: inherit;
    -moz-column-count: inherit;
    column-rule: none;
    -webkit-column-rule: none;
    -moz-column-rule: none;
}*/
.content-fieldset-month .input-group, .content-fieldset-precious .input-group, #tpl-add-target-target_work .cat-bank, .input-group-btn.select-unit{
    width: 100%;
}
#tpl-add-target-target_work .input-group-addon{
    min-width: 180px;
    text-align: left;
}


table.table.phongban thead > tr > th,
table.table.phongban thead > tr > td,
table.table.phongban tbody > tr > th,
table.table.phongban tbody > tr > td {
    padding: 2px !important;
}
td.chuc-danh > label.switch.chuc_danh {
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    height: 34px;
    padding: 6px 0px 6px 4px !important;
    display: inline-block;
}

.table-list-detail .column-7.trien-khai {
    text-align: left;
}
.kpi-departments > .clearfix > .children{
    float: left;
    margin-left: 5px;
}
.kpi-departments > .clearfix > a.action-assign{
    float: left;
    display: inline-block;
}
.view-file-upload{
    display: block;
}
.color-node-0{
    color: #0290d6;
}
.color-node-1-2{
    color: #f0a618;
}
tbody > tr.chuc-danh-hien-tai > td {
    font-weight: bold;
}
.input-group.input-percent > .input-group-addon,
.input-group-select > .input-group-addon {
    max-width: 105px !important;
    min-width: 105px !important;
}
.input-group-select > .kpi-category.input-select {
    min-width: 274px !important;
    max-width: 274px !important;
    float: left;
    display: table-cell !important;
}
td.kpi-content .input-group-select > .input-group-addon {
    max-width: 140px !important;
    min-width: 140px !important;
}
td.kpi-content .input-group-select > .kpi-category.input-select,
td.kpi-content .input-group-select > .kpi-bank-id.input-select {
    min-width: 274px !important;
    max-width: 100% !important;
}
.right-status-confirm-month{
    float: right;
    padding-top: 6px;
}
.form-control.confirm-month-form-control{
    width: 50%;
}
.right-status-confirm-month .switch{
    width: 25px;
}
.list-room-target-kpi {
    float: left;
    margin-bottom: 0;
}
.amount-pending{
    position: relative;
    top: -5px;
    margin-left: 5px;
    color: #fff;
    display: inline-block;
    padding: 1px 0px;
    width: 15px;
    font-size: 10px;
    text-align: center;
    background: red;
    border-radius: 50%;
}
.user-amount{
    width: 16px;
}
.user-amount-pw{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    width: 20px;
    padding: 2px 0;
}
.menu-item{
    position: relative;
}
table.user-list tr{
    cursor: pointer!important;
}
.management-chart .report-item{
    margin-top:20px;
    width: 300px;
    height: 150px;
}

.kpi-nang-luc #block-target-kpi{
    margin-right:0;
}
.management-top{
    margin-bottom: 20px;
}
.content-paging{
    padding-right:0;
}
.stick-count-kpi{
    position: absolute;
    top: 10px;
    text-align: center;
    color: #fff;
    padding: 0 2px;
    margin-left: 5px;
    font-size: 10px;
    background: red;
}
.user-list.list-staff .display_name{
    position: relative;
}
.section-row{
    margin-bottom: 20px;
}
#general-comment .top-list-detail{
    border:none;
}
.title-list-member{
    float: left;
    width: 60%;
}
label.list-user-kpi-for-year{
    float: left;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}
.mngql{
    margin-right: 20px;
}
#add-management-capacity span#post_title, #add-capacity-member span#post_title{
    min-width: 180px!important;
    max-width: 180px!important;
}
#add-management-capacity .btn-group.bootstrap-select.input-group-btn.bank_id, #add-capacity-member .btn-group.bootstrap-select.input-group-btn.bank_id{
    width: 100%;
}
#add-management-capacity .btn-group.bootstrap-select.input-group-btn.bank_id .btn.dropdown-toggle.btn-default,
#add-management-behavior .btn-group.bootstrap-select.input-group-btn.bank_id .btn.dropdown-toggle.btn-default,
#add-capacity-member .btn-group.bootstrap-select.input-group-btn.bank_id .btn.dropdown-toggle.btn-default{
    width: 357px;
}
#add-management-capacity .btn-group.bootstrap-select.input-group-btn.bank_id .dropdown-menu > ul.dropdown-menu, #add-capacity-member .btn-group.bootstrap-select.input-group-btn.bank_id .dropdown-menu > ul.dropdown-menu,
#add-management-behavior .btn-group.bootstrap-select.input-group-btn.bank_id .dropdown-menu > ul.dropdown-menu{
    width: 100%;
    max-width: inherit;
}
.status-capacity{
    padding-left: 20px;
}
.status-capacity .checkbox-slider{
    padding: 5px;
    width: 27px;
}
.table-managerment-capacity .notification.success{
    color: #07b36c;
}
.fa-long-arrow-up.icon-trend{
    font-size: 30px;
    color: #008fd5;
}
.icon-trend-level_1{
    transform: rotate(125deg);
}
.icon-trend-level_2{
    transform: rotate(90deg);
}
.icon-trend-level_3{
    transform: rotate(45deg);
}
.table-list-detail .width10{
    width: 10%;
}
.capacity-for-year .btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu{
    min-width: inherit;
}
.capacity-for-year{
    text-align: right;
    margin-bottom: 20px;
}
.btn-save-assign{
    margin-left: 20px;
}
.managerment-capacity-feedback{
    margin-top: 0;
}
.show-info-input .btn-group.bootstrap-select{
    width: 100%!important;
}
.show-info-input .btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu{
    min-width: inherit;
}
.table-list-detail.table-managerment-capacity tr:hover > td .action-edit{
    display: inline;
}
.form-group.form-plans .post_title.post_title-target_work,
.form-group.form-plans  .input-group-btn.cat-bank,
.form-group.form-plans .btn-group.bootstrap-select > .dropdown-menu > ul.dropdown-menu,
.form-group.form-plans .width657
{
    max-width: 657px;
}
.form-group.form-plans .input-group-select > .input-group-addon{
    min-width: 180px!important;
}
.kpi-receive.align-center input[type="text"]{
    width: 100%;
}
.viewkpiofroom{
    margin-left: 15px;
    margin-bottom: 10px;
}
.behavior-percent{
    text-align: center;
}
.group-behavior-item td{
    background: #f8f6f7;
}
.group-item-down i{
    font-size: 20px;
    color: #008fd5;
}
.table-managerment-behavior .column-1,.table-managerment-behavior .column-4{
    width: 10%;
}
.table-managerment-behavior .column-3{
    width: 15%;
}
.notification.warning i{
    color: #fcc03d;
}
.action-bot .notification.warning{
    color: #fea33d;
    font-size: 16px;
    font-style: italic;
}
.action-bot .notification.warning i{
    font-size: 20px;
}
.success.notification, .success.notification i{
    color: #07b36c;
}
#management-behavior .icon-percent{
    background: rgb(88, 191, 58);
}
#management-behavior .icon-percent:before{
    border-color: transparent #58bf3a transparent transparent;
}
.top-list-detail-behavior .for-quarter{
    margin-top:15px;
}

.text-left.input-check,
.text-right.number {
    display: inline-block;
}
.text-left.input-check {
    float: left;
}
.text-left.input-check > .form-control {
    padding: 0 0 0 0 !important;
    width: auto !important;
    height: auto !important;
}
.text-right.number {
    float: right;
    text-align: right;
}

.treeview {
    column-count: 3;
    margin: 10px 0 0 20px;
}
.treeview ul.group-chart-item li {
    padding: 2px 0 2px 25px;
}
.treeview ul.group-chart-item{
    margin-top: 3px;
}
.treeview > li {
    margin-bottom: 10px;
}
.treeview > li .switch-group span.chart-name{
    font-weight: 600;
}
.treeview li > label {
    /* move left to cover the original checkbox area */
    margin-left: -20px;
    /* pad the text to make room for image */
    padding-left: 20px;
}
.treeview .switch{
    width: inherit;
    cursor: pointer;
}
.view-list-behavior, .viewkpiofroom a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.viewkpiofroom a{
    font-size: 14px;
}
.not-publish-user{
    margin-bottom: 20px;
    display: inline-block;
    font-size: 16px;
    color: #fbb300;
}
.not-publish-user i {
    font-size: 25px;
    color: #ffcc4d;
}
.offer-bank{
    border: 1px solid #ccc;
    padding: 10px 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.offer-bank legend{
    border-bottom: none;
    display: inline-block;
    width: inherit;
    padding: 0 10px;
    margin-bottom: 0;
}
.action-close-offer{
    text-align: right;
}
.offer-formula-custom{
    width:100%;
}
.content-offer-bank, .offer-formula-custom .show-offer-formula{
    display: none;
}
.show-formula-des .title{
    font-size: 16px;
    font-weight: 600;
}
.show-formula-des .content{
    padding-left: 10px;
}
.formula-des-item{
    display: block;
}
.select-unit.width657 .dropdown-menu{
    max-width: inherit!important;
}
.kpi-bank-id.input-select .btn.dropdown-toggle.btn-default{
    width: 300px;
}
.bootstrap-select.select-for-month.select-for-month-nv{
    width:100px!important;
}
.description-title{
    padding-bottom:20px;
    font-weight: bold;
}
.name-block .role-name{
    color:red;
}
.custom-name-block h2{
    font-size: 18px!important;
    padding-top: 5px;
}
tr.status-pending{
    color:red;
}
.viewkpiofroom.approve-register{
    margin-top: 20px;
    margin-left: 0;
}
.viewkpiofroom.approve-register + .content-register-kpi-chart {
    padding-top:0;
}
.bgcolor-orange{
    background-color: orange;
}
.formula-title strong{
    padding-left: 10px;
}
.formulas .content{
    display: block;
    padding-left:20px;
}
.view-formula .fa-info-circle{
    color: #008fd5;
    font-size: 16px;
}
.formula-not-found{
    font-size: 20px;
    text-align: center;
}
.approve-register a:first-child{
    margin-right: 10px;
}
.user-list.list-staff .viewkpiofroom.approve-register{
    margin: 0;
}
.influence.dropup .btn.dropdown-toggle{
    width: 220px;
}
.group-influence{
    width:100%;
}
.group-influence label.influence{
    float:none;
}
.owner-register-for .input-group.right-target-percent{
    float:right;
    width: 48%;
}
.owner-register-for .input-group.left-target-for{
    width: 50%;
    float:left;
}
.page-template-page-apply-kpi-system .table-field-list{
    width: 100%;
}
.table-field-list tr{
    border:none!important;
}
.page-template-page-apply-kpi-system .table-field-list td,
.page-template-page-apply-kpi-system .table-field-list td .item-form-group-for:last-child{
    border-bottom: none!important;
}

.page-template-page-apply-kpi-system .table-field-list td.column-right{
    border-right: none!important;
}

.content-fieldset-month .item-form-group-for,
.content-fieldset-precious .item-form-group-for{
    overflow: hidden;
}
.content-fieldset-month .item-form-group-for:nth-child(1),
.content-fieldset-month .item-form-group-for:nth-child(2),
.content-fieldset-month .item-form-group-for:nth-child(3),
.content-fieldset-month .item-form-group-for:nth-child(4),
.content-fieldset-month .item-form-group-for:nth-child(5),
.content-fieldset-month .item-form-group-for:nth-child(6),
.content-fieldset-precious .item-form-group-for:nth-child(1),
.content-fieldset-precious .item-form-group-for:nth-child(2){
    margin-right: 2px;
}
.onlevel-approve{
    float: left;
    width: 60%;
}
.item-form-group-for .onlevel-approve .input-group.left-target-for,
.item-form-group-for .onlevel-approve .input-group.right-target-percent{
    float:none;
    width: 100%;
}
.onlevel-approve .form-control.confirm-month-form-control{
    width: 100%;
}
.onlevel-approve + .right-status-confirm-month{
    position: relative;
    top: 25px;
}
.item-form-group-for{
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
#tpl-department-kpi-members table.table.list-members > thead > tr > th{
    vertical-align: middle;
    text-align: center;
}
.add-english .select-for-month, .add-english .select-for-year, .add-english .select-for-quarter{
    position: relative;
    top: -12px;
}
.color-black{
    color:#000;
}
.page-template .content-top h1.entry-title {
    padding-top: 30px;
}
.capacity-for-year label[for="select-for-year-phongban"]{
    position: relative;
    top: 15px;
    padding-right: 10px;
}
.confirm-register-kpi .mngnv, .confirm-register-kpi .mngql{
    margin-top:20px;
    display: inline-block;
}
.table-list-detail.table-managerment-capacity a.delete{
    color:red;
}
.table-list-detail.table-managerment-capacity th{
    vertical-align: middle;
}
.behavior-for-year .bootstrap-select.select-for-month .approve-complete,
.behavior-for-year .bootstrap-select.select-for-quarter .approve-complete{
    color:rgb(53, 191, 13);
    font-size: 20px;
}
.behavior-for-year .bootstrap-select.select-for-month .need-approve,
.behavior-for-year .bootstrap-select.select-for-quarter .need-approve{
    color: red;
    font-size: 20px;
}
#pp-option-export .left-option .switch{
    width: 100%;
}
.lock-for-month{
    display: inline-block;
    margin-top: 6px;
}
#tpl-lock-for-month .table-field-list td{
    border: none!important;
}
#tpl-lock-for-month .item-form-group-for{
    border-bottom: none;
}
.table-list-detail .column-5.kpi-unit input{
    width: 100px;
    display: block;
    margin: auto;
}