.text-align-center{
    text-align: center;
}
.mt-10{
    margin-top: 10px;
}
.width20percent{
    width: 20%;
}
.been-answer{
    color: #CB8705;
}
.width100percent{
    width: 100%;
}
.font-bold{
    font-weight: bold;
}
.blockUI.blockOverlay{
    z-index: 99999!important;
}
.effa-menu-left.navbar-left{
    width: 100%;
}
.effa-menu-left.navbar-left ul li a{
    background-repeat: no-repeat;
    background-size: 10px 13px;
    background-position: center left;
    display: block;
    padding: 4px 0;
    padding-left: 18px;
    color: #555;
}
.effa-menu-left.navbar-left > li > ul > li > a{
    background-image: url(../../images/icon-lv1.png);
}
.effa-menu-left.navbar-left > li > ul > li > a.event-dropdown{
    background-image: url(../../images/icon-lv2.png);
    background-size: 14px 11px;
}
.effa-menu-left.navbar-left ul ul > li > a{
    background-image: url(../../images/icon-lv3.png);
}
.effa-menu-left.navbar-left > li > a{
    padding: 10px 20px;
    background: #fff;
    color: #555;
    display: block;
}
.effa-menu-left.navbar-left > li > a:hover{
    background: linear-gradient(to right, #33a5dd , #70c0e7);
    color: #fff;
}
.page-content > .row .effa-right {
border-left: 1px solid #eee;
min-height: 500px;
}
.effa-menu-left.navbar-left > li:last-child > a{
    border-bottom: 1px solid #cce9f7;
}

.effa-menu-left.navbar-left > li > a:hover i{
    color:#fff;
}
.effa-menu-left.navbar-left li a i{
    color: #555;
}
.nav-item sup{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #fff;
    padding: 7px 4px;
    background: red;
    font-size: 10px;
    display: inline-block;
    top: -10px;
}
.effa-menu-left.navbar-left li.nav-item.active > a,
.row-thead-title-group tr{
    background: linear-gradient(to right, #c2c2c2 , #fefefe);
    background: -webkit-linear-gradient(to right, #c2c2c2 , #fefefe);
    background: -moz-linear-gradient(to right, #c2c2c2 , #fefefe);
}

.import-effa i{
    color:#fff;
}
.warning-content {
  color: red;
  background-color: #eee;
  border-color: #faebcc;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-style: italic;
}
.modal-body p, .modal-body hr {
  margin: 10px 0;
}
.modal-dialog {

    width: 600px;
    margin: 10% auto !important;

}
.warning-content .fa-warning, .warning-content p{
    color: red;
}
.bd-bt-poup.bd-bt-poup{
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 16px;
}
.ul-upload-files{
    margin:10px 0;
}
.modal-header {
    background: #ddd !important;
    color: #111;
}
.btn-brb-default {
  background: #999 !important;
  border-radius: 50px;

-moz-border-radius: 50px;

-webkit-border-radius: 50px;
}
.li-filename{
    display: block;
    text-align: left;
}
.ul-upload-files .file-item {
    overflow: hidden;
    position: relative;
    margin: 0!important;
    padding: 1px 5px 2px;
    background: #ebf7fb;
    border: 1px solid #c5e7f2!important;
    min-height: inherit;
    line-height: inherit;
    border-radius: 3px;
}
.upload-status {
    position: absolute;
    right: 0px;
    top:0;
}
.filename {
    margin: 0;
    padding: 4px;
}
.btn-remove-file-import{
    padding: 1px;
    background: #ed3c2c;
}
.btn-remove-file-import i{
    margin: 0;
}
.warning-content .title-alert {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}

.right-file{
    padding-right: 0;
}
.left-option .switch{
    width: initial;
    margin-right: 20px;
    float: left;
}
.article-quiz{
    width: initial;
}
.article-quiz .checkbox-slider{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.dropdown-orgchart{
    float:right;
}
.action-show-popup{
    float: right;
}
.importeffa{
    padding-right: 0;
}
.row-thead-title-parent tr{
    background: rgb(0, 142, 213);
}
.row-thead-title-parent th,
.row-thead-title-parent th a{
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.effa-target-item td[data-toggle="modal"] {
    cursor: pointer;
}
.popup-table-responsive .column-2 input[type="text"],
.popup-table-responsive .column-2 select,
.popup-table-responsive .column-2 textarea{
    width: 100%;
}
#popup-action-effa .response-container{
    text-align: left;
}
.effa-code .code-post{
    font-weight: 600;
}
._effa_code{
    display: none;
}

.tooltip-notify .notification {
    position: absolute;
    width: 200px;
    display: block;
    left: -180px;
    padding: 20px;
    z-index: 999;
    top: -15px;
    color: #fff;
    background: #07b36c;
    box-shadow: 1px 1px 4px -1px #555 !important;
    -moz-box-shadow: 1px 1px 4px -1px #555 !important;
    -webkit-box-shadow: 1px 1px 4px -1px #555 !important;
}
.tooltip-notify .notification::before {
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: -7px;
    top: 35%;
    color: #36b36b;
}
.table-content-build .item-action-on-off .notification,
.tooltip-notify .notification{
    width: inherit;
    left: -40px;
    padding: 10px;
    text-align: center;
    top: -8px;
}
.table-content-build .item-action-on-off .notification.error,
.tooltip-notify .notification.error{
    background: #5c0a00;
}
.table-content-build .item-action-on-off .notification.success,
.tooltip-notify .notification.success{
    background: #005907;
}
.table-content-build .item-action-on-off .notification:before,
.tooltip-notify .notification:before{
    top: 25%;
    right: -6px;
}
.table-content-build .item-action-on-off .notification.error:before,
.tooltip-notify .notification.error:before{
    color: #5c0a00;
}
.table-content-build .item-action-on-off .notification.success:before,
.tooltip-notify .notification.success:before{
    color: #005907;
}
.table-content-build .item-action-on-off .notification i,
.tooltip-notify .notification i{
    margin-right: 0;
}
.table-content-build .item-action-on-off .notification.success i,
.tooltip-notify .notification.success i{
    color: #07b36c;
}
.table-content-build .item-action-on-off .notification.error i,
.tooltip-notify .notification.error i{
    color: red;
}
.table-reponsive table{
    width: 100%;
}
.has-position h2, .has-position h1 {
    font-weight: 300;
}
.effa-owner{
    text-align: right;
}
.btn-effa-owner{
    padding: 10px 20px;
    background: #cecece;
    color: #000;
    box-shadow: 1px 1px 1px #cecece;
    -webkit-box-shadow: 1px 1px 1px #cecece;
    -moz-box-shadow: 1px 1px 1px #cecece;
}
.td-editable .editable{
    cursor: context-menu;
}
.effa-standard-content .lbl-position{
    margin-right: 10px;
}
.effa-standard-content .benchmark{
    font-weight: bold;
}
.td-assessment span{
    display: block;
}
.frm-questions table td{
    padding: 5px 0;
}
.question-item{
    margin-top: 10px;
    margin-bottom: 10px;
}
.frm-questions .action-bot{
    text-align: right;
    padding: 10px;
}
.table-bordered > tbody > tr.show-hide-questions td{
    padding: 0;
    border: 1px solid transparent;
}
.table-bordered > tbody > tr.show-hide-questions.tr-show td{
    padding: 5px;
    border: 1px solid #e7ecf1;
}
.frm-questions{
    display: none;
}
.question-title{
    text-transform: uppercase;
    font-size: 20px;
}
#questionConfirm .width300{
    width: 300px;
}
#questionConfirm .notification.error{
    font-style: normal;
}
#questionConfirm .modal-footer{
    text-align: center;
}
.frm-quiz .response-container.error, .frm-quiz .response-container.success{
    padding: 20px 0;
    font-size: 14px;
}
.question-loading .blockUI.blockOverlay{
    z-index: 999999 !important;
}
.description-rank{
    font-style: italic;
}
.effa-comment-content fieldset, fieldset{
    border: 1px solid #ccc;
    padding: 10px 20px;
    background: #f9f9f9;

}
.effa-comment-content fieldset legend, fieldset legend{
    display: inline;
    border: none;
    width: initial;
    margin: 0;
    margin-left: 10px;
    padding: 0 10px;
    text-transform: uppercase;
    margin-left: -11px;
    font-size: 11px;
    font-style: italic;
}
.table-reports-content{
    margin-top: 20px;
}
.fielset-report{
    margin-bottom: 20px;
}
.effa-compare-content .lbl-text{
    padding-right: 10px;
}
.export-reports{
    margin-left: 10px;
}
.view-chart-js, .export-reports{
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
}
.view-chart-js a, .export-reports a{
    padding: 5px 20px;
    display: inline-block;
    background: #f2ab24;
    color: #fff;
    border-radius: 30px;
    margin:10px 0;
}
.user-list .parent > td {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    background: #eee;
}
body.login, body, .page-content {
    background: #fff !important;
}
.effa-menu-left.navbar-left > li > a {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    color: #555;
    display: block;
}

.export-staff{
    margin: 0;
}
.export-staff.mt-2{
    margin-top:20px;
}
#menu-left { margin-top: 15px; }
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
.import-nlcm-title{

}

.popSeclectScore {
    position: relative;
}
.column-manager, .column-admin{
    position: relative;
}
.popover.customppover{
  top: 30%;

  right: 0;

  left: 0;

  max-width: 680px;

  background: #eee;

  padding: 20px !important;

  z-index: 999999;

  position: fixed;

  margin: 0 auto;

  min-width: 560px;
}
input[type="radio"], input[type="checkbox"] {

    margin: 11px 0 0;
  }
  .btn.editable-cancel.cancel-submit {
    position: absolute;

top: 0;

right: 0;

background: none;

border: none;
  }
.btn.btn-primary.ok-submit {
  margin-top: 20px;
min-width: 100px;
}
table span.regard-score {
  border-bottom: 1px dotted #999;

cursor: pointer;

display: block;
}
.btn.editable-cancel.cancel-submit i  {
    background: none !important;

color: #666666;

font-size: 15px;
  }
.row-thead-title-group {
    color: red;
    font-weight: bold;
}
.group-item-down i {
    font-size: 16px;
    color: #666;
}
.title.display-name{
    padding-bottom: 10px;
}
/*.table-reponsive.grid-view, .table-reponsive table.table-striped{
  max-height: 528px;

  overflow-y: auto;

  position: relative;

  box-shadow: 1px 1px 1px 1px #eee;
  -moz-box-shadow: 1px 1px 1px 1px #eee;
  -webkit-box-shadow: 1px 1px 1px 1px #eee;
  -o-box-shadow: 1px 1px 1px 1px #eee;
}
.table-reponsive table.table-striped{max-height: 300px; }
table.table-content-build thead, .table-reponsive table thead {
  position: sticky;

top: 0;

z-index: 9;
}*/
.grid-view {

    margin: 10px 0;
    width: 100%;

}
.page-content {
  min-height: 510px !important;
}
/*.width5{
    width:5%;
}
.width7{
    width:7%;
}
.width30{
    width:30%;
}
.table-fixed-header thead, .table-fixed-header tbody{
    display: block;
}
.table-fixed-header tbody{
    height:500px;
    overflow-y: auto;
}*/
.table-reponsive.grid-view{
    max-height: 500px;
    overflow-y: auto;
    position: relative;
}
#import-department{
    display: none;
}
#import-department.show{
    display: block;
}
#table-reponsive-2{
    min-height: 30px;
}
#table-reponsive-2.notboxshadow{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#table-reponsive-2 .blockUI.blockOverlay{
    display: none !important;
}
#table-reponsive-2 .blockUI.blockMsg.blockElement{
    border: none !important;
    background-color: transparent !important;
}
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    .table-reponsive table,
    .table-reponsive thead,
    .table-reponsive tbody,
    .table-reponsive th,
    .table-reponsive td,
    .table-reponsive tr {
        display: block;
    }
    .table-reponsive td.hide-mobile{
        display: none;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table-reponsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-reponsive tbody .table-responsive-hidden{
        display: none;
    }

    .table-reponsive table > tbody > tr { border: 1px solid #ccc; }

    .table-reponsive table > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }
    .table-reponsive .table-content-build td.table-content-build-td{
        min-height: 60px;
    }

    .table-reponsive table > tbody > tr > td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: normal;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .table-reponsive  td:before { content: attr(data-title); }

    .user-list .mobile-height, .mobile-height{
        min-height: 55px;
    }
}
@media only screen and (max-width: 370px) {
    #table-assessment-detail .mobile-height{
        min-height: 55px;
    }
}
