.parent-categories.navbar-left{
    background: linear-gradient(to bottom, #e5f4fb, #fefeff);
    width: 100%;
}
.parent-categories.navbar-left ul li a{
    background-repeat: no-repeat;
    background-size: 10px 13px;
    background-position: center left;
    display: block;
    padding: 4px 0;
    padding-left: 18px;
    color: #555;
}
.parent-categories.navbar-left > li > ul > li > a{
    background-image: url(../../images/icon-lv1.png);
}
.parent-categories.navbar-left > li > ul > li > a.event-dropdown{
    background-image: url(../../images/icon-lv2.png);
    background-size: 14px 11px;
}
.parent-categories.navbar-left ul ul > li > a{
    background-image: url(../../images/icon-lv3.png);
}
.parent-categories.navbar-left > li > a{
    padding: 10px 20px;
    border: 1px solid #cce9f7;
    border-bottom: none;
    background: #fff;
    color: #555;
    display: block;
}
.parent-categories.navbar-left > li > a:hover{
    background: linear-gradient(to right, #33a5dd , #70c0e7);
    color: #fff;
}
.parent-categories.navbar-left > li:last-child > a{
    border-bottom: 1px solid #cce9f7;
}

.parent-categories.navbar-left > li > a:hover i{
    color:#fff;
}
.parent-categories.navbar-left li a i{
    color: #555;
}
.table-input-kpi-bank{
    width: 100%;
}
.table-input-kpi-bank .column-1{
    width: 30%;
}
.table-input-kpi-bank textarea, .input-text-target{
    width: 100%;
}
.table-input-kpi-bank td{
    padding: 5px 0;
}
#popup-kpi-bank .modal-body{
    padding-left: 30px;
    padding-right: 30px;
}
.fieldset-measurement-formulas{
    border: 1px solid #ccc;
}
.fieldset-measurement-formulas legend{
    display: inline-block;
    width: inherit;
    margin-left: 20px;
    font-size: 14px;
    color: #008fd5;
    font-weight: 600;
    border-bottom: none;
}
.fieldset-measurement-formulas .mf-content{
    padding: 0 20px;
}
.table-measurement-formulas{
    width: 100%;
    margin-bottom: 20px;
}
.table-measurement-formulas th, .table-measurement-formulas td{
    padding: 10px;
}
.table-measurement-formulas th{
    background: #cce9f7;
}
.table-measurement-formulas tr{
    border: 1px solid #d2d2d2;
}
.table-measurement-formulas thead tr{
    border: 1px solid #7fc7ea;
}
.table-measurement-formulas .width_full{
    width: 100%;
}
.table-measurement-formulas input.width_full{
    width: 90%;
}
.table-measurement-formulas tfoot td{
    padding: 20px 10px;
}
.table-measurement-formulas tfoot a{
    padding: 5px 20px;
    border: 1px solid #d2d2d2;
}
.fieldset-top{
    padding: 10px 20px;
    padding-top: 0;
}
.fieldset-top .fs-target{
    padding-right: 20px;
}
.fieldset-top .fs-target span, .fieldset-top .fs-result span{
    font-style: italic;
}

.table-input-kpi-bank .btn.dropdown-toggle.btn-default{
    color: #555!important;
}
.table-input-kpi-bank .btn-group.bootstrap-select.width_full{
    width: 100%;
}
.btn-group.bootstrap-select.width_full li a{
    color:#555;
}
.table-measurement-formulas input.input-text, .table-input-kpi-bank input[type="text"]{
    padding: 6px 5px;
}
.remove-repeater-mf{
    position: absolute;
    top: 0px;
    right: 2px;
    display: none;
}
.remove-repeater-mf i{
    margin: 0;
    font-size: 14px;
    color: #fff;
    width: 16px;
    padding: 0px 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ed3c2c;
    background: #ed3c2c;
}
.tbody-main tr:hover a.remove-repeater-mf{
    display: block;
}
.table-measurement-formulas .tbody-main td{
    position: relative;
}
.navbar-formula li a{
    display: block;
}
.navbar-left.navbar-formula > li > ul > li > a{
    background-image: none;
}
.table-formulas .column-7{
    width: 15%;
}
.table-formulas .column-7 a{
    display: block;
    margin-left: 10px;
}
.table-formulas .column-7 a.delete{
    color: red;
    margin-top: 10px;
}
.table-input-formula .column-1{

}
.table-input-formula .btn.dropdown-toggle.btn-default{
    width: 100px;
}
.table-input-formula .group-formula-item{
    float:left;
    margin-left: 22px;
}
.table-input-formula .group-formula-item:first-child{
    margin-left: 0;
}
.table-input-formula #formula-title, .table-input-formula #formula-note{
    width: 90%;
}
.table-input-formula input[type="text"]{
    padding: 6px 0;
    padding-left: 5px;
}
.table-group-detail{
    width: 100%;
    background-color: #f5f5f5!important;
    display: inline-block;
    padding: 10px;
    margin-top: 0!important;
    border: 1px solid #ccc;
}
.table-group-detail tbody td:last-child{
    position: relative;
}
.table-group-detail tfoot td{
    padding-top: 20px!important;
    padding-bottom: 10px!important;
}
.table-group-detail tfoot td a{
    border: 1px solid #ccc!important;
    padding: 5px 10px;
    display: inline-block;
}
.table-group-detail thead th{
    border: none!important;
}
.table-group-detail input[type="text"], .table-group-detail td .btn-group.bootstrap-select{
    width: 100px;
}
.table-group-detail .btn-group.bootstrap-select{
    width: 100px!important;
}

#table_on_off .column-1, #table_oscillate .column-1, #table_oscillate .column-3, #table_add_max_kq .column-1{
    width: 20%;
}
#table_add_between .condition-results{
    padding: 0 15px;
}
#table_add_between input[type="text"]{
    width: 50px!important;
}
#table_add_between .btn-group.bootstrap-select, #table_add_between .btn.dropdown-toggle.btn-default{
    width: 70px!important;
}
#table_add_between .column-4 input[type="text"]{
    width:100px !important;
}
#table_add_between .column-2{
    width: 45%;
}
#table_add_between .remove-repeater-mf{
    right: -10px;
}
.table-group-detail.display-none{
    display: none;
}
.item-action-on-off .switch{
    margin: 5px 0;
}
.import-kpi-bank i{
    color:#fff;
}
.warning-content {
    color: #7b5e2a;
    background-color: #f9f9e0;
    border-color: #faebcc;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-style: italic;
}
.warning-content .fa-warning, .warning-content p{
    color: #7b5e2a;
}
.bd-bt-poup.bd-bt-poup{
    margin-bottom: 20px;
}
.ul-upload-files{
    margin:10px 0;
}
.li-filename{
    display: block;
    text-align: left;
}
.ul-upload-files .file-item {
    overflow: hidden;
    position: relative;
    margin: 0!important;
    padding: 1px 5px 2px;
    background: #ebf7fb;
    border: 1px solid #c5e7f2!important;
    min-height: inherit;
    line-height: inherit;
    border-radius: 3px;
}
.upload-status {
    position: absolute;
    right: 0px;
    top:0;
}
.filename {
    margin: 0;
    padding: 4px;
}
.btn-remove-file-import{
    padding: 1px;
    background: #ed3c2c;
}
.btn-remove-file-import i{
    margin: 0;
}
.warning-content .title-alert {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}

.right-file{
    padding-right: 0;
}
.left-option .switch{
    width: initial;
    margin-right: 20px;
    float: left;
}
.dropdown-orgchart{
    float:right;
}
.action-show-popup{
    float: right;
}
.importkpi{
    padding-right: 0;
}