ul.list-org-chart,
ul.list-org-chart ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#orgChartContainer {
    text-align: center;
}
ul.list-org-chart {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
ul.list-org-chart li.node.full {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
ul.list-org-chart ul.clearfix {
    text-align: center;
}
ul.list-org-chart li.node.float {
    display: inline-block;
    vertical-align: top;
}
ul.list-org-chart ul > li.node.float {
    margin-left: 10px;
}
ul.list-org-chart ul > li.node.float:first-child {
    margin-left: 0px;
}
ul.list-org-chart li.node {
    border: 1px solid black;
}
ul.list-org-chart li.node > .node-data {
    /* border-bottom: 1px solid black; */
    text-align: center;
}
ul.list-org-chart.dragging li.node.node-leaf > ul.node-children {
    min-height: 30px;
    background-color: #7EE0CD;
}

ul.list-org-chart > .node.level-root > .node-data > .actions > .btn-remove{
    display: none;
}
ul.list-org-chart li.node  > .node-data a.name-avatar {
    display: block;
    width: 100%;
    text-align: center;
}
ul.list-org-chart li.node  > .node-data a.name-avatar > img.avatar{
    border-radius: 50%;
    -web-kit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
ul.list-org-chart li.node  > .node-data {
    position: relative;
    width: 200px;
    margin: 0 auto;
}
ul.list-org-chart li.node  > .node-data > span {
    display: inline-block;
    white-space: normal;
}
ul.list-org-chart li.node  > .node-data > .actions {
    position: absolute;
    top: 65px;
    height: 0px;
    width: 100%;
}
ul.list-org-chart li.node  > .node-data > .actions > a.btn-add {
    float: left;
    margin-left: 5px;
}
ul.list-org-chart li.node  > .node-data > .actions > a.btn-remove {
    float: right;
    margin-right: 5px;
}
.file-preview-frame > .kv-file-content > img,
.preview-avatar > img.preview-avatar-image {
    border-radius: 50%;
    -web-kit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    width: 150px !important;
    height: 150px !important;
    margin: 0 auto;
}


table#org-chart-table tr > th.director:before,
table#org-chart-table tr > th.director:after,
table#org-chart-table tr > td.director:before,
table#org-chart-table tr > td.director:after,
table#org-chart-table tr > th.department:before,
table#org-chart-table tr > th.department:after,
table#org-chart-table tr > td.department:before,
table#org-chart-table tr > td.department:after,
table#org-chart-table tr > th.employee:before,
table#org-chart-table tr > th.employee:after,
table#org-chart-table tr > td.employee:before,
table#org-chart-table tr > td.employee:after {
    display: table;
    clear: both;
    content: "";
    width: 100%;
    height: 0px;
}
table#org-chart-table tr > th > span.name,
table#org-chart-table tr > td > span.name {
    float: left;
    display: inline-block;
}
table#org-chart-table tr > th > span.control,
table#org-chart-table tr > td > span.control {
    float: right;
    display: inline-block;
}
table#org-chart-table tr > th.director,
table#org-chart-table tr > td.director {
    border-left: 1px solid #e7ecf1;
    vertical-align: middle;
}
table#org-chart-table tr > th.department,
table#org-chart-table tr > td.department {
    border-left: 1px solid #e7ecf1;
    vertical-align: middle;
}
table#org-chart-table tr > th.employee,
table#org-chart-table tr > td.employee {
    border-left: 1px solid #e7ecf1;
    border-right: 1px solid #e7ecf1;
    vertical-align: middle;
}
table#org-chart-table > thead > tr {
    border-top: 1px solid #e7ecf1;
}
table#org-chart-table tr.first {

}
table#org-chart-table > tbody{
    border-bottom: 1px solid #e7ecf1;
}
.upload-progress {
    ;
}
.upload-progress > .progress{
    background-color: #0b94ea;
    width: 0%;
}
td > .name > em {
    padding-left: 8px;
}
td > img.thumb {
    float: left;
    max-width: 32px;
    max-height: 32px;
}
.form-group.orgchart-icon .file-preview-frame {
    text-align: center;
}
.form-group.orgchart-icon .kv-file-content {
    max-width: 150px;
    max-height: 150px;
}
.form-group.orgchart-icon .file-thumbnail-footer {
    display: none;
}
.form-group.form-error > p[class^="error-"] {
    color: red;
}












#chart-container {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 600px;
    width: calc(100% - 24px);
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
    min-height: 420px;
    min-width: 100%;
}

#orgchart-popup-item .bootstrap-select {}

#orgchart-popup-item .bootstrap-select .dropdown-menu {
    max-width: 180px;
}

.orgchart { background: white; }
#chart-container > .orgchart {
    min-height: 420px;
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}
#chart-container .orgchart .node {
    padding: 0px 0px 0px 0px !important;
    width: 139px;
}
#chart-container .orgchart .node > .title {
    padding: 0 3px !important;
}
#chart-container .orgchart .node > .title > .symbol {
    display: none !important;
}
#chart-container .orgchart .node .controls > a {
    margin: 0 2px;
    max-width: 16px;
    display: inline-block;
}
#chart-container .orgchart .node .content {
    height: 45px;
}
#chart-container .orgchart .node .content > .description {
    min-height: 20px;
}
#chart-container .orgchart .node.node-level-root .controls > a.node-remove {
    display: none !important;
}

.orgchart .has-level-space > div.level-space {
    position: relative;
    height: 112px;
}
.orgchart .has-level-space > div.level-space:before {
    content: " ";
    width: 2px;
    height: 112px;
    position: absolute;
    left: 50%;
    display: inline-block;
    margin-left: -1px;
    top: 0px;
    background-color: rgba(217, 83, 79, 0.8);
}
.orgchart .has-level-space > div.level-space.level-space-2 {
    height: 224px;
}
.orgchart .has-level-space > div.level-space.level-space-2:before {
    height: 224px;
}
.orgchart .has-level-space > div.level-space.level-space-3 {
    height: 336px;
}
.orgchart .has-level-space > div.level-space.level-space-3:before {
    height: 336px;
}

#chart-container .orgchart .node .content .controls .has_kpi > span.checkbox-slider {
    width: 14px;
    height: 14px;
}
#chart-container .orgchart .node .content .controls .has_kpi > span.checkbox-slider:before {
    font-size: 10px;
    height: 10px;
}
#orgchart-popup-item label.switch,
#orgchart-popup-item label.switch > span.checkbox-slider {
    height: 32px;
    width: 32px;
    margin-bottom: 0px;
}
#orgchart-popup-item label.switch > span.checkbox-slider:before {

}

.orgchart td.left, .orgchart td.right, .orgchart td.top { border-color: #aaa; }
.orgchart td > .down { background-color: #aaa; }
.orgchart .node-level-0 .title { background-color: #008fd5; }
.orgchart .node-level-0 .content { border-color: #008fd5; }
.orgchart .node-level-1 .title { background-color: #b36200; }
.orgchart .node-level-1 .content { border-color: #b36200; }
.orgchart .node-level-2 .title { background-color: #e67e00; }
.orgchart .node-level-2 .content { border-color: #e67e00; }
.orgchart .node-level-3 .title { background-color: #ff981a; }
.orgchart .node-level-3 .content { border-color: #ff981a; }
.orgchart .node-level-4 .title { background-color: #ffaf4d; }
.orgchart .node-level-4 .content { border-color: #ffaf4d; }
.orgchart .node-level-5 .title { background-color: #ffc680; }
.orgchart .node-level-5 .content { border-color: #ffc680; }
.orgchart .node-level-6 .title { background-color: #ffddb3; }
.orgchart .node-level-6 .content { border-color: #ffddb3; }
.orgchart .node-level-7 .title { background-color: #fff4e6; }
.orgchart .node-level-7 .content { border-color: #fff4e6; }
.orgchart .node-level-8 .title { background-color: #be9374; }
.orgchart .node-level-8 .content { border-color: #be9374; }
.orgchart .node-level-9 .title { background-color: #c7a389; }
.orgchart .node-level-9 .content { border-color: #c7a389; }
.orgchart .node-level-10 .title { background-color: #d6bba8; }
.orgchart .node-level-10 .content { border-color: #d6bba8; }
.orgchart .node-level-11 .title { background-color: #efe4dc; }
.orgchart .node-level-11 .content { border-color: #efe4dc; }



#chart-container { min-height: 680px !important; height: auto !important; }
label#label_node_view_onlevel{
    text-align: left;
}
#orgchart-popup-item .response-message{
    margin-bottom: 20px;
    padding-left: 40px;
}
#orgchart-popup-item .response-message.success{
    color:#07b36c;
}