body.login {
    background: #f1f1f1 !important;

}

h1,h2,h3,h4,p,a {
  color:#111 !important;
}

.login img { width: 200px !important; }
.login .logo {
    margin: 60px auto 0px auto !important;
  }

  .btn {
    background: #008fd5;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    color:#fff !important;

  }

  .login .content p, .login .content label {
    color: #555;
}

.login-form {
  background: #fff;
padding: 10px 20px !important;
box-shadow: 0px 1px 5px 1px #ddd;
}

.rememberme > span {
  background: #fff;
border: 1px solid #ccc;
}

.login .mt-checkbox > span::after {
    border-color: #32c5d2;
}

.login .copyright {
    color: #555;
}

.login-form h3 {
  text-align: center;
}
.login .content .form-control {
    background-color: #fff;
    border: none;
    box-shadow: inset 0px 0px 3px 1px #ddd !important;
    -webkit-box-shadow: inset 0px 0px 3px 1px #ddd !important;
    -moz-box-shadow: inset 0px 0px 3px 1px #ddd !important;
    height: 45px;
    line-height: 40px;
    font-size: 15px;
}

.input-icon > i {
    margin: 16px 2px 4px 10px;
  }
